<div class="flex-col max-w-250 md:min-w-120 -m-6">
    <div class="flex-col max-w-240 md:min-w-160">
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Rgistro datos contratista</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <mat-dialog-content style="margin: 0px; padding: 0px;">
            <div class="option">
                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4 text-red-500" *ngIf="showAlert" [appearance]="'outline'"
                    [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
            </div>
            <br>
            <form [formGroup]="formContractor"
                class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto">
                <div class="nationality">
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>{{elemento}}</mat-label>
                        <mat-select  formControlName="elemento" [(ngModel)]="componentselectId" (selectionChange)="getElements()"
                            name="componente">
                            <mat-option *ngFor="let componente of componentes" [value]="componente.id">
                                {{componente.nombreComponente}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>{{elemento}}</mat-label>
                        <mat-select formControlName="componente" [(ngModel)]="elementselectId" (selectionChange)="asignElement()"
                            name="elemento">
                            <mat-option *ngFor="let element of elements" [value]="element.id">
                                {{element.nombreElemento}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>CDP</mat-label>
                        <input type="text" id="cdp" [(ngModel)]="hinringData.cdp" formControlName="cdp" autocomplete="off" matInput
                            placeholder="CDP">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="nationality">
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>Rubro</mat-label>
                        <input type="text" id="rubro" [(ngModel)]="hinringData.rubro" formControlName="rubro" autocomplete="off" matInput
                            placeholder="rubro">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                    </mat-form-field>

                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>Nombre Rubro</mat-label>
                        <input type="text" id="nombreRubro" [(ngModel)]="hinringData.nombreRubro" formControlName="nombreRubro" autocomplete="off" matInput
                            placeholder="Nombre Rubro">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                        <mat-error *ngIf="formContractor.get('nombreRubro').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>Actividad</mat-label>
                        <input matInput id="actividad" [(ngModel)]="hinringData.actividad" formControlName="actividad" autocomplete="off" matInput
                            placeholder="Actividad">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                        <mat-error *ngIf="formContractor.get('actividad').hasError('required')">
                            El Campo actividad es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="nationality">
                    <mat-form-field class="hiring" (click)="pickerIP.open()" appearance="outline">
                        <mat-label>Fecha Inicio Proyectado</mat-label>
                        <input matInput id="fechaInicioProyectado" autocomplete="off"
                            formControlName="fechaInicioProyectado" [(ngModel)]="hinringData.fechaDeInicioProyectado" [matDatepicker]="pickerIP">
                        <mat-datepicker #pickerIP></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerIP"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('fechaInicioProyectado').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field (click)="pickerIR.open()" class="hiring" appearance="outline">
                        <mat-label>Fecha Inicio Real</mat-label>
                        <input matInput id="fechaInicioReal" autocomplete="off" [(ngModel)]="hinringData.fechaRealDeInicio" formControlName="fechaInicioReal"
                            [matDatepicker]="pickerIR">
                        <mat-datepicker #pickerIR></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerIR"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('fechaInicioReal').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field (click)="pickerFC.open()" class="hiring" appearance="outline">
                        <mat-label>Fecha Comite</mat-label>
                        <input matInput id="fechaComite" [(ngModel)]="hinringData.fechaDeComite" autocomplete="off" formControlName="fechaComite"
                            [matDatepicker]="pickerFC">
                        <mat-datepicker #pickerFC></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerFC"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('fechaComite').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="option">
                    <mat-form-field (click)="pickerFCo.open()" class="hiring" appearance="outline">
                        <mat-label>Fecha Finalización Convenio</mat-label>
                        <input matInput id="fechaFinalizacionConvenio" autocomplete="off" [(ngModel)]="hinringData.fechaFinalizacionConvenio" formControlName="fechaFinalizacionConvenio"
                            [matDatepicker]="pickerFCo">
                        <mat-datepicker #pickerFCo></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerFC"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('fechaFinalizacionConvenio').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>Ejecucion</mat-label>
                        <input type="text" id="ejecucion" [(ngModel)]="hinringData.ejecucion"  formControlName="ejecucion" autocomplete="off" matInput
                            placeholder="Ejecucion">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:menu-alt-1'"></mat-icon>
                        <mat-error *ngIf="formContractor.get('ejecucion').hasError('required')">
                            El Campo ejecucion Mensuales es requerido
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="nationality">
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>Requiere poliza Arl</mat-label>
                        <mat-select  [(ngModel)]="hinringData.requierePoliza" [formControlName]="'requierePoliza'" name="requierePoliza">
                            <mat-option *ngFor="let poliza of requierePoliza" [value]="poliza.viewValue">
                                {{poliza.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                        <mat-error *ngIf="formContractor.get('requierePoliza').hasError('required')">
                            El Campo arl es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>Numero Poliza</mat-label>
                        <input type="text" id="noPoliza" [(ngModel)]="hinringData.noPoliza" formControlName="noPoliza" autocomplete="off" matInput
                            placeholder="noPoliza">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <mat-error *ngIf="formContractor.get('noPoliza').hasError('required')">
                            El Campo noPoliza es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field (click)="pickerVI.open()" class="hiring" appearance="outline">
                        <mat-label>Vigencia Inicial</mat-label>
                        <input matInput id="vigenciaInicial" [(ngModel)]="hinringData.vigenciaInicial" autocomplete="off" formControlName="vigenciaInicial"
                            [matDatepicker]="pickerVI">
                        <mat-datepicker #pickerVI></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerVI"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('vigenciaInicial').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="hiring" (click)="pickerEP.open()" appearance="outline">
                        <mat-label>Fecha ExPedicion Poliza</mat-label>
                        <input matInput id="fechaExPedicionPoliza" autocomplete="off"
                        [(ngModel)]="hinringData.fechaExpedicionPoliza" formControlName="fechaExPedicionPoliza" [matDatepicker]="pickerEP">
                        <mat-datepicker #pickerEP></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerEP"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('fechaExPedicionPoliza').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field (click)="pickerEX.open()" class="hiring" appearance="outline">
                        <mat-label>Fecha Examen Preocupacional</mat-label>
                        <input matInput id="fechaExamenPreocupacional" autocomplete="off"
                        [(ngModel)]="hinringData.fechaExaPreocupacional"  formControlName="fechaExamenPreocupacional" [matDatepicker]="pickerEX">
                        <mat-datepicker #pickerEX></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerEX"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('fechaExamenPreocupacional').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field (click)="pickerVF.open()" class="hiring" appearance="outline">
                        <mat-label>Vigencia Final</mat-label>
                        <input matInput id="vigenciaFinal" autocomplete="off"
                        [(ngModel)]="hinringData.vigenciaFinal" formControlName="vigenciaFinal"
                            [matDatepicker]="pickerVF">
                        <mat-datepicker #pickerVF></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerVF"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('vigenciaFinal').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="nationality">
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>Numero Adicion</mat-label>
                        <input type="text" id="noAdicion" [(ngModel)]="hinringData.noAdicion" formControlName="noAdicion" autocomplete="off" matInput
                            placeholder="no Adicion">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:link'"></mat-icon>
                        <mat-error *ngIf="formContractor.get('noAdicion').hasError('required')">
                            El Campo no Adicion es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field (click)="pickerIA.open()" class="hiring" appearance="outline">
                        <mat-label>Fecha Inicio Ampliacion</mat-label>
                        <input matInput id="fechaInicioAmpliacion" autocomplete="off"
                        [(ngModel)]="hinringData.fechaInicioAmpliacion" formControlName="fechaInicioAmpliacion" [matDatepicker]="pickerIA">
                        <mat-datepicker #pickerIA></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerIA"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('fechaInicioAmpliacion').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field (click)="pickerTA.open()" class="hiring" appearance="outline">
                        <mat-label>Fecha terminacion Ampliacion</mat-label>
                        <input matInput id="fechaDeTerminacionAmpliacion" autocomplete="off"
                        [(ngModel)]="hinringData.fechaDeTerminacionAmpliacion" formControlName="fechaDeTerminacionAmpliacion" [matDatepicker]="pickerTA">
                        <mat-datepicker #pickerTA></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerTA"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('fechaDeTerminacionAmpliacion').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="nationality">
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>Supervisor</mat-label>
                        <input type="text" id="supervisor" [(ngModel)]="hinringData.interventorItm" formControlName="interventor" autocomplete="off" matInput
                            placeholder="supervisor">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <mat-error *ngIf="formContractor.get('interventor').hasError('required')">
                            El Campo Supervisor es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>cargo Supervisor</mat-label>
                        <input type="text" id="cargoInterventor" [(ngModel)]="hinringData.cargoInterventorItm" formControlName="cargoInterventor" autocomplete="off"
                            matInput placeholder="cargo Supervisor">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <mat-error *ngIf="formContractor.get('cargoInterventor').hasError('required')">
                            El Campo cargo Interventor es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="hiring" appearance="outline">
                        <mat-label>Nivel</mat-label>
                        <input type="text" id="valorAsegurado" [(ngModel)]="hinringData.nivel" formControlName="nivel" autocomplete="off" matInput
                            placeholder="Nivel">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:chart-bar'"></mat-icon>
                        <mat-error *ngIf="formContractor.get('nivel').hasError('required')">
                            El Campo valorAsegurado es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions class="action" align="end">
            <button mat-flat-button [color]="'warn'" type="button" [mat-dialog-close]="false">Cancelar</button>
            <button mat-flat-button [color]="'primary'" [mat-dialog-close]="true"
                [disabled]="formContractor .disabled" *ngIf="!formContractor.disabled"
                (click)="addContractor()">Aceptar</button>
        </mat-dialog-actions>
    </div>
</div>