<div class="flex-col max-w-350 md:min-w-120 -m-6">
    <div class="flex-col max-w-240 md:min-w-160">

        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Registrar Contrato</div>
            <button mat-icon-button (click)="cerrar()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="option">
            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4 text-red-500" *ngIf="showAlert" [appearance]="'fill'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
        </div>
        <mat-dialog-content style="margin: 0px; padding: 0px;">
            <form [formGroup]="formProject" class="example-form">
                <div class="folderField pt-8">
                    <mat-form-field class="contractField" appearance="fill">
                        <mat-label>Nombre Empresa</mat-label>
                        <input type="text" id="companyName" formControlName="companyName" autocomplete="off" matInput
                            placeholder="Nombre empresa">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                        <mat-error *ngIf="formProject.get('companyName').hasError('required')">
                            El Campo empresa es requerido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="contractField" appearance="fill">
                        <mat-label>Nombre proyecto</mat-label>
                        <input type="text" id="projectName" formControlName="projectName" autocomplete="off" matInput
                            placeholder="Nombre proyecto">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                        <mat-error *ngIf="formProject.get('projectName').hasError('required')">
                            El Campo Proyecto es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="contractField" appearance="fill">
                        <mat-label>proyecto</mat-label>
                        <input type="text" id="project" formControlName="project" autocomplete="off" matInput
                            placeholder="proyecto">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field *ngIf="editData" class="contractField" appearance="fill">
                        <mat-label>Tipo Actualización</mat-label>
                        <mat-select [formControlName]="'tipoModificacion'" (selectionChange)="changeTipe($event)" name="updateData">
                            <mat-option *ngFor="let exe of tipoContrato" [value]="exe.id">
                                {{exe.detailTypeDescripcion}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:bookmark-alt'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="contractField" appearance="fill">
                        <mat-label>Rubro</mat-label>
                        <mat-select formControlName="rubro" (selectionChange)="changeRubro($event)" name="rubro">
                            <mat-option *ngFor="let tipo of rubros" [value]="tipo.id">
                                {{tipo.rubroNumber}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field class="contractField" appearance="fill">
                        <mat-label>Nombre Rubro</mat-label>
                        <input type="mail" id="nombreRubro"  formControlName="nombreRubro"
                            autocomplete="off" matInput placeholder="Nombre Rubro">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="contractField" appearance="fill">
                        <mat-label>Fuente Rubro</mat-label>
                        <mat-select formControlName="fuenteRubro"  name="fuenteRubro">
                            <mat-option *ngFor="let rubro of rubrosOrigin" [value]="rubro.viewValue">
                                {{rubro.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:bookmark-alt'"></mat-icon>
                        <mat-error *ngIf="formProject.get('statusContract').hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="editData" class="contractField" appearance="fill">
                        <mat-label>Estado contrato</mat-label>
                        <mat-select [formControlName]="'statusContract'"  name="statusContract">
                            <mat-option *ngFor="let state of statusContract" [value]="state.id">
                                {{state.statusContractDescription}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:bookmark-alt'"></mat-icon>
                        <mat-error *ngIf="formProject.get('statusContract').hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="folderField pt-2">
                    <mat-form-field class="contractField" appearance="fill">
                        <mat-label>Numero Contrato</mat-label>
                        <input type="text" id="numberProject" formControlName="numberProject"
                        autocomplete="off" matInput placeholder="Numero Contrato">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field (click)="pickerContrato.open()" class="contractField" appearance="fill">
                        <mat-label>Fecha Contrato</mat-label>
                        <input matInput id="fechaContrato" (dateChange)="dateChange($event)"
                            autocomplete="off" formControlName="fechaContrato" [matDatepicker]="pickerContrato">
                        <mat-datepicker #pickerContrato></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerContrato"></mat-datepicker-toggle>
                        <mat-error *ngIf="formProject.get('fechaContrato').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field (click)="pickerF.open()" class="contractField" appearance="fill">
                        <mat-label>Fecha de Finalizacion</mat-label>
                        <input matInput id="fechaFinalizacion" [min]="minDate" autocomplete="off"
                            formControlName="fechaFinalizacion" [matDatepicker]="pickerF">
                        <mat-datepicker #pickerF></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
                        <mat-error *ngIf="formProject.get('fechaFinalizacion').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="folderField">
                    <mat-form-field *ngIf="editData && AddeditData" class="contractField" appearance="fill">
                        <mat-label>Numero Adicion</mat-label>
                        <input type="text" id="noAdicion" formControlName="noAdicion" autocomplete="off" matInput
                            placeholder="no Adicion">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:link'"></mat-icon>
                        <mat-error *ngIf="formProject.get('noAdicion').hasError('required')">
                            El Campo no Adicion es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="folderField">
                    <mat-form-field *ngIf="editData && AddeditData" (click)="pickerIA.open()" class="contractField" appearance="fill">
                        <mat-label>Fecha Inicio Ampliacion</mat-label>
                        <input matInput id="fechaInicioAmpliacion" autocomplete="off"
                            formControlName="fechaInicioAmpliacion" [matDatepicker]="pickerIA">
                        <mat-datepicker #pickerIA></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerIA"></mat-datepicker-toggle>
                        <mat-error *ngIf="formProject.get('fechaInicioAmpliacion').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="editData && AddeditData" (click)="pickerTA.open()" class="contractField" appearance="fill">
                        <mat-label>Fecha terminacion Ampliacion</mat-label>
                        <input matInput id="fechaDeTerminacionAmpliacion" autocomplete="off"
                            formControlName="fechaDeTerminacionAmpliacion" [matDatepicker]="pickerTA">
                        <mat-datepicker #pickerTA></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerTA"></mat-datepicker-toggle>
                        <mat-error *ngIf="formProject.get('fechaDeTerminacionAmpliacion').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="folderField">
                    <mat-form-field (click)="pickerTA.open()" class="contractField" appearance="fill">
                        <mat-label>Fecha Registro contrato</mat-label>
                        <input matInput id="registerDateContract" autocomplete="off"
                            formControlName="registerDateContract" [matDatepicker]="pickerTA">
                        <mat-datepicker #pickerTA></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerTA"></mat-datepicker-toggle>
                    </mat-form-field>

                    <mat-form-field  class="contractField" appearance="fill">
                        <mat-label>Recursos Adicionales</mat-label>
                        <input type="text" id="resource" formControlName="resource" autocomplete="off" matInput
                            placeholder="Recursos Adicionales">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field  class="contractField" appearance="fill">
                        <mat-label>Codigo de Area</mat-label>
                        <input type="text" id="areaCode" formControlName="areaCode" matInput
                            placeholder="Codigo de Area">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="folderField">
                    <mat-form-field class="rContract" appearance="fill">
                        <mat-label>Objeto Convenio</mat-label>
                        <textarea type="text" class="example-full-width" id="objectContract" formControlName="objectContract"
                            autocomplete="off" matInput placeholder="Objeto"></textarea>
                        <mat-error *ngIf="formProject.get('objectContract').hasError('required')">
                            El Campo Objeto Convenio es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="folderField">
                    <mat-form-field class="rContract" appearance="fill">
                        <mat-label>Deber del Convenio</mat-label>
                        <textarea type="text" class="example-full-width" id="dutyContract" formControlName="dutyContract"
                            autocomplete="off" matInput placeholder="Deber del Convenio"></textarea>
                        <mat-error *ngIf="formProject.get('dutyContract').hasError('required')">
                            El Campo Objeto Convenio es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-flat-button color="warn" class="m-2" type="button" [mat-dialog-close]="false">Cancelar</button>
            <button class="m-2" mat-flat-button [color]="'primary'"  [disabled]="!permission" color="primary" *ngIf="editData"
                (click)="editContractFolder()">Editar</button>
            <button class="m-2" mat-flat-button [color]="'primary'" type="submit" [disabled]="!permission"
                *ngIf="!formProject.disabled && !editData" (click)="addContractFolder()">Guardar</button>
        </mat-dialog-actions>
    </div>
</div>