.inputsearch {
  padding-left: 90px;

}

td.mat-cell,
th.mat-header-cell {
  /* row border */
  text-align: center;
  border-bottom: 1px solid #1a1917;
  justify-content: center;

}


table {
  width: 100%;
  text-align: center !important;
}


tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
