.table, th, td {
    border: 1px solid;
    word-wrap: break-all;

  }
.table{
    margin-top: 50px;
    margin-left: 90PX;
    width: 85% !important;
}

.tables{
    width: 100% !important;
}

.alinear{
    text-align: center;
}
.line{
    margin-left: 90px;
    margin-top: 70px !important;
    margin-bottom: 5px;
    display: block;
    font-weight: bold !important;

}
.img{
    background-size: 25% 25% !important; 
    background-attachment: scroll !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    width: auto;
    height: auto;
    // max-width: 100% !important;
    // width: 50% !important;
    // height: 10% !important;
    // max-height: 50% !important;
    // // padding-top: 35px !important; 
    // text-align: center !important;
}
.h4{
    margin-left: 140px;
    font-size: 24px;
}
.text{
    margin-left: 140px;
    width: 83% !important;
    font-size: 15px !important;

}
.desc{
    background-color: rgb(55, 93, 244);
    color: aliceblue;
    text-align: center !important;
}
// .container{
//     background-color: white !important;
    
// }
.name{
    font-weight: bold;
}
.contractorName{
    font-weight: bold !important;
}
.linea{
    width: 30% !important;
    margin-left: 95px !important;
    font-weight: bold !important;

}
.container{
    background-color: white;
    margin-top: 20px;
}

.study{
    text-align: center !important;
    padding-top: 50px;
    font-weight: bold;
}
.tableImage{
    width: 20px;
}

// .container {
//     padding: 2rem 0rem;
//   }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }

  .txtc{
    margin-top: 50px !important;
  }
  .just{
    text-align: center !important;
  }
  h1{
    text-align: center;
    font-size: 15px !important;
  }
  p{
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-size: large;
    text-align: center !important;
  }


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }

  img{
    width: 350px;
    height: 250px;
  }



  