<div class="flex-col max-w-250 md:min-w-120 -m-6">
    <div class="flex-col max-w-240 md:min-w-160">
        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Registro Elemento</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <mat-dialog-content style="margin: 0px; padding: 0px;">

            <!-- Card form -->
            <form class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto"
                [formGroup]="elementForm">
                <div >
                    <mat-form-field [hidden]="showDate" appearance="outline">
                        <mat-label>Modificacion</mat-label>
                        <mat-select [formControlName]="'modificacion'" [(ngModel)]="elementselectId" (selectionChange)="selectmodificacion()" name="modificacion">
                            <mat-option *ngFor="let modificacion of modificaciones" [value]="modificacion.viewValue">
                                {{modificacion.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                        <mat-error *ngIf="elementForm.get('modificacion').hasError('required')">
                            El Campo arl es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field [hidden]="showDate" appearance="outline">
                        <mat-label>Fecha modificacion</mat-label>
                        <mat-select [formControlName]="'fechamodificacion'" name="modificacion">
                            <mat-option *ngFor="let modificacion of dateAdiction$ | async" [value]="modificacion.fechaFinalizacion">
                                {{modificacion.fechaFinalizacion | date}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                        <mat-error *ngIf="elementForm.get('modificacion').hasError('required')">
                            El Campo arl es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <mat-label>Consecutivo</mat-label>
                        <input matInput id="consecutivo" type="text" formControlName="consecutivo" autocomplete="off" matInput
                            placeholder="Consecutivo">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                
                        <mat-error *ngIf="elementForm.get('consecutivo').hasError('required')">
                            El Campo actividad es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre del Elemento</mat-label>
                        <input type="text" [value]="elemento.nombreElemento" placeholder="Seleccione o Digite" aria-label="Nombre del Elemento" matInput
                            [formControlName]="'nombreElemento'" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo Elemento</mat-label>
                        <mat-select [formControlName]="'tipoElemento'" name="tipoElemento">
                            <mat-option *ngFor="let tipo of tipoElementos" [value]="tipo.viewValue">
                                {{tipo.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>CPC</mat-label>
                        <input type="text" id="cpc" [value]="elemento.cpc" formControlName="cpc" autocomplete="off" matInput
                            placeholder="CPC">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                        <mat-error *ngIf="elementForm.get('cpc').hasError('required')">
                            El Campo cpc es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre Cpc</mat-label>
                        <input type="mail" id="nombreCpc" [value]="elemento.nombreCpc" formControlName="nombreCpc"
                            autocomplete="off" matInput placeholder="Nombre Cpc">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        <mat-error *ngIf="elementForm.get('nombreCpc').hasError('required')">
                            El Campo nombre cpc es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad Contratista</mat-label>
                        <input type="number" [value]="elemento.cantidadContratistas" id="contractorCant"
                            formControlName="contractorCant" autocomplete="off" matInput
                            placeholder="Cantidad Contratista">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:duplicate'"></mat-icon>
                        <mat-error *ngIf="elementForm.get('contractorCant').hasError('required')">
                            El Campo Cantidad Contratista es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad Días</mat-label>
                        <input type="number" [value]="elemento.cantidadDias" id="cantDay" formControlName="cantDay" autocomplete="off"
                            matInput placeholder="Cantidad Días">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                        <mat-error *ngIf="elementForm.get('cantDay').hasError('required')">
                            El Campo Cantidad Días es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Valor Unidad</mat-label>
                        <input type="text" value="{{elemento.valorUnidad | number :'1.0-0'}}" id="unitValue"
                            formControlName="unitValue" autocomplete="off" matInput placeholder="Valor Unidad">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                        <mat-error *ngIf="elementForm.get('unitValue').hasError('required')">
                            El Campo Valor Unidad es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field disable appearance="outline">
                        <mat-label>Valor Por dia contratistas</mat-label>
                        <input type="text" [value]="elemento.valorPorDia | number:'1.0-0'" formControlName="unitValueDay"
                            autocomplete="off" matInput placeholder="Valor por Día">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Valor Total</mat-label>
                        <input type="text" value="{{totalValue | number :'1.0-0'}}" id="totalValue"
                            formControlName="totalValue" autocomplete="off" matInput placeholder="Valor Total">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field [hidden]="totalCalculate" appearance="outline">
                        <mat-label>Valor por dia contratista</mat-label>
                        <input type="number" [value]="valorDiaContratista | number:'1.0-0'" id="valorDiaContratista"
                            formControlName="valordiaContratista" autocomplete="off" matInput placeholder="valor Dia Contratista">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field [hidden]="totalCalculate" appearance="outline">
                        <mat-label>Total Exacto</mat-label>
                        <input type="number" [value]="totalExacto | number:'1.0-0'" id="totalExacto"
                            formControlName="totalExacto" autocomplete="off" matInput placeholder="Valor Exacto">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field [hidden]="totalCalculate" appearance="outline">
                        <mat-label>Recursos </mat-label>
                        <input type="number" [value]="recursos | number:'1.0-0'" id="recursos"
                            formControlName="recursos" autocomplete="off" matInput placeholder="Recuros">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="folder">
                    <mat-form-field class="hiringD" appearance="outline">
                        <mat-label>obligaciones Especificas</mat-label>
                        <textarea type="text"  class="example-full-width" id="obligacionesEspecificas" formControlName="obligaciones Especificas" autocomplete="off" matInput placeholder="Descripcion"></textarea>
                    </mat-form-field>
                </div>
                <div class="folder">
                    <mat-form-field class="hiringD" appearance="outline">
                        <mat-label>obligaciones Generales</mat-label>
                        <textarea type="text"  class="example-full-width" id="obligacionesGenerales" formControlName="obligaciones Generales" autocomplete="off" matInput placeholder="Descripcion"></textarea>
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-flat-button type="button" [color]="'warn'" [mat-dialog-close]="false">Cancelar</button>
            <button class="m-5 bg-green-600" mat-flat-button type="button" (click)="calculate()">Calcular</button>
            <button class="m-2" mat-flat-button [color]="'primary'" type="submit" [mat-dialog-close]="true"
                (click)="addElement()">Aceptar</button>
        </mat-dialog-actions>
    </div>
</div>