.mat-form-field{
    margin : 5px;
}
.date{
    width: 200px !important;
    margin-left: 20px !important;
}
.hiringD{
    padding-left: 15px;
    margin-right: 10px;
    width: 800PX !important;
    max-width: 800px !important;
}
.folder{
    text-align: center;
}