<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <a href="dashboards/inicio" class="ml-1 text-primary-500">Inicio</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">Planeación</span>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">Cuadro Económico</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    PLANEACIÓN
                </h2>
            </div>
        </div>
        <!-- <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button mat-stroked-button>
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                Edit
            </button>
            <button
                class="ml-3"
                mat-flat-button
                [color]="'primary'">
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_solid:link'"></mat-icon>
                View
            </button>
        </div> -->
    </div>

    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow overflow-y-auto bg-card" cdkScrollable>

        <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Contrato" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" style="width: 100%;" matSort>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="addComponent(element)">
                                <mat-icon>visibility</mat-icon>
                                <span>Ver Componente</span>
                            </button>
                            <ng-container *ngIf="element.componentes.length != 0">
                                <button type="button" mat-menu-item (click)="addComponent(element)">
                                    <mat-icon>visibility</mat-icon>
                                    <span>Ver Detalle Componentes</span>
                                </button>
                            </ng-container>
                        </mat-menu>
                    </td>
                </ng-container>

                <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Compañía </th>
                    <td mat-cell *matCellDef="let row"> {{row.companyName}}</td>
                </ng-container>

                <ng-container matColumnDef="projectName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Proyecto </th>
                    <td mat-cell *matCellDef="let row"> {{row.projectName}} </td>
                </ng-container>

                <ng-container matColumnDef="descriptionProject">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción del Proyecto </th>
                    <td mat-cell *matCellDef="let row"> {{row.descriptionProject}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaContrato">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha del Contrato </th>
                    <td mat-cell *matCellDef="let row"> {{row.fechaContrato | date}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaFinalizacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Finalización </th>
                    <td mat-cell *matCellDef="let row"> {{row.fechaFinalizacion | date}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

    </div>

</div>