<mat-dialog-content class="mat-typography">
    <p style="text-align: center; font-size: medium; text-decoration-style: dotted; text-decoration-color: black;">Registrar Datos del Contratista</p>
    <div class="option">
        <!-- Alert -->
        <fuse-alert
        class="mt-8 -mb-4 text-red-500"
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="false"
        [type]="alert.type"

        [@shake]="alert.type === 'error'">
        {{alert.message}}
    </fuse-alert>
</div>
    <form [formGroup]="formContractor" class="example-form">
        <div class="nationality">
            <mat-form-field class="hiring" appearance="outline">
                <mat-label>Rubro Presupuestal</mat-label>
                <input type="number"  id="consecutivo" formControlName="consecutivo" autocomplete="off" matInput placeholder="Consecutivo" >
                <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                <mat-error *ngIf="formContractor.get('consecutivo').hasError('required')">
                    El Campo rubor es requerido
                </mat-error>
            </mat-form-field>

            <mat-form-field class="hiring" appearance="outline">
                <mat-label>Nombre del rubro</mat-label>
                <input type="text"  id="nombredelrubro" formControlName="nombredelrubro" autocomplete="off" matInput placeholder="Nombre del rubro" >
                <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                <mat-error *ngIf="formContractor.get('nombredelrubro').hasError('required')">
                    este Campo es requerido
                </mat-error>
            </mat-form-field>
            

        </div>
        <br>
        <div class="nationality">
            <mat-form-field class="hiring" appearance="outline">
                <mat-label>Fuente rubro</mat-label>
                <input type="number"  id="fuenteRubro" formControlName="fuenteRubro" autocomplete="off" matInput placeholder="Fuente rubro" >
                <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                <mat-error *ngIf="formContractor.get('fuenteRubro').hasError('required')">
                    El Campo Fuente rubro es requerido
                </mat-error>
            </mat-form-field>

            <mat-form-field class="hiring" appearance="outline">
                <mat-label>Posicion</mat-label>
                <input type="number"  id="posicion" formControlName="posicion" autocomplete="off" matInput placeholder="posicion" >
                <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                <mat-error *ngIf="formContractor.get('posicion').hasError('required')">
                    este campo es requerido
                </mat-error>
            </mat-form-field>
        </div>
    
       
   
  </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" [mat-dialog-close]="true" class="text-warn-500">Cancelar</button>
    <button mat-button type="submit" [mat-dialog-close]="true" [disabled]="formContractor .disabled" *ngIf="!formContractor.disabled" class="text-green-500" (click)="addContractor()">Aceptar</button>
  </mat-dialog-actions>
