<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 md:p-8">
    <div class="flex md:w-full md:max-w-6xl sm:rounded-2xl sm:shadow overflow-hidden sm:bg-card">
        <div
            class="img relative hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-r">
            <!-- Background - @formatter:off -->
            <!-- Rings -->
            <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
                preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                    <circle r="234" cx="196" cy="23"></circle>
                    <circle r="234" cx="790" cy="491"></circle>
                </g>
            </svg>
            <div class="z-10 relative w-full max-w-2xl">

            </div>
        </div>
        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <div class="text-2xl text-warn-500 ">Este registro es solo para personal autorizado</div>
                <!-- Title -->
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Registrarse</div>
                <div class="flex items-baseline mt-0.5 font-medium">
                    <div>Ya tienes una cuenta?</div>
                    <a class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/paginas/authentication/sign-in']">Iniciar sesion
                    </a>
                </div>

                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                    [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <!-- Sign Up form -->
                <form class="mt-8" [formGroup]="signUpForm">

                    <!-- Name field -->
                    <mat-form-field class="w-full">
                        <mat-label>Nombre completo</mat-label>
                        <input id="userName" matInput formControlName="userName">
                        <mat-error *ngIf="signUpForm.get('userName').hasError('required')">
                            Se requiere el nombre completo
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Cedula</mat-label>
                        <input id="identification" type="number" matInput formControlName="identification">
                        <mat-error *ngIf="signUpForm.get('identification').hasError('required')">
                            Se requiere el nombre completo
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>telefono</mat-label>
                        <input id="phoneNumber" matInput type="number" formControlName="phoneNumber"
                            #phoneNumberField>
                        <button mat-icon-button type="button"
                            (click)="phoneNumberField.type === 'password' ? phoneNumberField.type = 'text' : phoneNumberField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="phoneNumberField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="phoneNumberField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            se requiere telefono
                        </mat-error>
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>Correo electrónico</mat-label>
                        <input id="email" matInput formControlName="email">
                        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                            Se requiere Dirección de correo electrónico
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                            Por favor, introduce una dirección de correo electrónico válida
                        </mat-error>
                    </mat-form-field>
                    <div class="text-2xl text-warn-500 ">Para el envío de correos es necesario la clave de su Correo Corporativo</div>
                    <mat-form-field class="w-full">
                        <mat-label>Contraseña Correo</mat-label>
                        <input id="password" matInput type="password" formControlName="passwordMail" #passwordMailField>
                        <button mat-icon-button type="button"
                            (click)="passwordMailField.type === 'password' ? passwordMailField.type = 'text' : passwordMailField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordMailField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordMailField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            se requiere contraseña
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Descripción del cargo</mat-label>
                        <textarea matInput formControlName="professional" [rows]="1" cdkTextareaAutosize
                            [cdkAutosizeMinRows]="1">
                        </textarea>
                        <mat-icon class="icon-size-5" matSuffix
                            [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                        <mat-error *ngIf="signUpForm.get('professional').hasError('required')">
                            El Campo pension es requerido
                        </mat-error>
                    </mat-form-field>
                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <mat-label>Contraseña</mat-label>
                        <input id="password" matInput type="password" formControlName="password" #passwordField>
                        <button mat-icon-button type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            se requiere contraseña
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Confirmar Contraseña</mat-label>
                        <input id="passwordConfirm" matInput type="password" formControlName="passwordConfirm"
                            #confirmPasswordField>
                        <button mat-icon-button type="button"
                            (click)="confirmPasswordField.type === 'password' ? confirmPasswordField.type = 'text' : confirmPasswordField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="signUpForm.get('passwordConfirm').hasError('required')">
                            confirmación de contraseña es requerida
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('passwordConfirm').hasError('mustMatch')">
                            Las contraseñas no coinciden
                        </mat-error>
                    </mat-form-field>

                    <fuse-alert class="mt-8 -mb-4" *ngIf="showAlertPassword" [appearance]="'outline'" [showIcon]="false"
                        [type]="alertPassword.type" [@shake]="alertPassword.type === 'error'">
                        {{alertPassword.message}}
                    </fuse-alert>
                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                        [disabled]="signUpForm.disabled" (click)="signUp()" data-cy="mi-boton">
                        <span *ngIf="!signUpForm.disabled">
                            Registrarse
                        </span>
                        <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
