<mat-dialog-content class="mat-typography">
    <p style="text-align: center; font-size: medium; text-decoration-style: dotted; text-decoration-color: black;">Cargar Archivo</p>
    <div class="option">
    </div>
    <form [formGroup]="formFile" class="example-form">
        <div  class="folder">
            <mat-form-field *ngIf="mostrarContrato" class="hiring" appearance="outline">
                <mat-label >CONTRATOS</mat-label>
                <mat-select formControlName="IdProject"   name="contrato">
                    <mat-option *ngFor="let contarto of contratos" [value]="contarto.id">
                        {{contarto.projectName}}
                    </mat-option>
                </mat-select>
                <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                <!-- <mat-error *ngIf="formContractor.get('pension').hasError('required')">
                    El Campo pension es requerido
                </mat-error> -->
            </mat-form-field> 
            <div>
                <mat-form-field *ngIf="!mostrarContrato" class="hiring" appearance="outline">
                    <mat-label>Nombre Archivo</mat-label>
                    <input type="text"  id="filesName" formControlName="filesName" autocomplete="off" matInput placeholder="Nombre Archivo" >
                    <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                    <mat-error *ngIf="formFile.get('filesName').hasError('required')">
                        El Campo Proyecto es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="text-center">
                <input formControlName="file" type="file" 
                mat-flat-button color="primary"  (change)="onChange($event)">
            </div>
            <!-- Shareable short link of  uploaded file -->
            <div class="container text-center jumbotron"
                *ngIf="shortLink">
                <h2> Visit Here</h2>
                <a href="{{shortLink}}">{{shortLink}}</a>
            </div>
            
            <!--Flag variable is used here-->
            <div class="container" *ngIf="loading">
                <h3>Loading ...</h3>
            </div>
        </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" [mat-dialog-close]="true" class="text-warn-500">Cancelar</button>
    <button mat-button type="submit" [mat-dialog-close]="true" [disabled]="formFile .disabled" *ngIf="!formFile.disabled" class="text-primary-500" (click)="uploadPdfFile($event)">Cargar archivo</button>
  </mat-dialog-actions>
