<button [matTooltip]="'Agregar datos'" class="hidden sm:inline-flex ml-3" (click)="exportarViabilidad()" mat-flat-button [color]="'primary'">
  Exportar Viavilidad<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>
<button [matTooltip]="'Agregar datos'" class="hidden sm:inline-flex ml-3" (click)="exportarDap()" mat-flat-button [color]="'primary'">
  Exportar DAP<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>
<button [matTooltip]="'Agregar datos'" class="hidden sm:inline-flex ml-3" (click)="exportarCdp()" mat-flat-button [color]="'primary'">
  Exportar CPD<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>
<button [matTooltip]="'Agregar datos'" class="hidden sm:inline-flex ml-3" (click)="exportarPpa()" mat-flat-button [color]="'primary'">
  Exportad PPA<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>