<button *ngIf="!showNomina" [matTooltip]="'Descargar Archivo.'" class="hidden sm:inline-flex ml-3" (click)="generarReporte()" mat-flat-button [color]="'primary'">
  Generar Reporte<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>
<button *ngIf="!showNomina" [matTooltip]="'Agregar datos'" class="hidden sm:inline-flex ml-3" (click)="exportarPaa()" mat-flat-button [color]="'primary'">
  Solicitud PAA<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>
<button *ngIf="!showNomina" [matTooltip]="'Descargar Archivo.'" class="hidden sm:inline-flex ml-3" (click)="exportarSolicitudCdp()" mat-flat-button [color]="'primary'">
  Solicitud CDP<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>
<button *ngIf="!showNomina" [matTooltip]="'Descargar Archivo.'" class="hidden sm:inline-flex ml-3" (click)="exportarCdp()" mat-flat-button [color]="'primary'">
  Exportar CDP<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>
<button *ngIf="showNomina" [matTooltip]="'Generar recibido de satisfacción'" class="hidden sm:inline-flex ml-3" (click)="generateSatisfactionReportate()" mat-flat-button [color]="'primary'">
  Recibido de satisfacción<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>
<button *ngIf="showNomina" [matTooltip]="'Generar recibido de satisfacción'" class="hidden sm:inline-flex ml-3" (click)="generateSatisfactionReportate()" mat-flat-button [color]="'primary'">
  Reporte estado<mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
</button>