<div class="w-full max-w-3xl">

    <!-- Team members -->
    <div class="flex flex-col mt-8 divide-y border-t border-b">
        <ng-container *ngFor="let member of members; trackBy: trackByFn;">
       
            <div class="flex flex-col sm:flex-row sm:items-center py-6">
                <div class="flex items-center">
                    <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                        <ng-container>
                                <mat-icon
                                class="icon-size-10" svgIcon="heroicons_solid:user-circle"></mat-icon>
                        </ng-container>
                    </div>
                    <div class="ml-4">
                        <div class="font-medium">{{member.userName}}</div>
                        <div class="text-secondary">Rol asignado: {{member.rollDescription}}</div>
                        <div class="text-secondary">Cargo: {{member.professionalposition}}</div>

                    </div>
                </div>
                <div class="flex items-center mt-4 sm:mt-0 sm:ml-auto">
                    <div class="order-2 sm:order-1 ml-4 sm:ml-0">
                        <mat-form-field *ngIf="member.rollCode !='ADM'" class="w-90" appearance="fill">
                            <mat-label >Asignar perfil</mat-label>
                            <mat-select [disabled]="member.rollCode =='ADM' || !permission" [value]="member.rollId" (selectionChange)="onChange($event,member)" [(ngModel)]="member.rollId" name="typeFile">
                                <mat-option  *ngFor="let role of roles" [value]="role.id">
                                    {{role.rollName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> 
                    </div>
                    <!-- <div class="order-1 sm:order-2 sm:ml-3">
                        <button mat-icon-button>
                            <mat-icon
                                class="text-hint"
                                [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        </button>
                    </div> -->
                </div>
            </div>
        </ng-container>
    </div>

</div>
