<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Registrar Contrato</div>
        <button
            mat-icon-button
            (click)="cerrar()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form [formGroup]="formProject" class="example-form">
        <div class="folder pt-8">
            <mat-form-field class="hiring" appearance="outline">
                <mat-label>Nombre Archivo</mat-label>
                <input type="text"  id="folderName" formControlName="folderName" autocomplete="off" matInput placeholder="Nombre Carpeta" >
                <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                <mat-error *ngIf="formProject.get('folderName').hasError('required')">
                    Este campo es requerido
                </mat-error>
            </mat-form-field>
        </div>
        <br>
        <div class="folder">
            <mat-form-field class="hiringD" appearance="outline">
                <mat-label>Descripcion</mat-label>
                <textarea type="text"  class="example-full-width" id="description" formControlName="description" autocomplete="off" matInput placeholder="Descripcion"></textarea>
                <mat-error *ngIf="formProject.get('description').hasError('required')">
                    El Campo Descripcion es requerido
                </mat-error>
            </mat-form-field>
        </div>
      
       
        
  </form>

</div>
  <mat-dialog-actions align="end">
    <button mat-stroked-button type="button" [mat-dialog-close]="true" class="text-warn-500">Cancelar</button>
    <button mat-flat-button [color]="'primary'" [mat-dialog-close]="true" *ngIf="editData" (click)="editProjectFolder()" >Editar</button>
    <button mat-flat-button [color]="'primary'" type="submit" [mat-dialog-close]="true" [disabled]="formProject .disabled" *ngIf="!formProject.disabled && !editData" (click)="addProjectFolder()">Aceptar</button>
  </mat-dialog-actions>
