<div class="flex-col max-w-250 md:min-w-120 -m-6">
    <div class="flex-col max-w-240 md:min-w-160">
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Registro datos de Contratación</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <form [formGroup]="formContractor" class="items-start w-full p-4 sm:p-4 space-y-6 overflow-y-auto"
            #signInNgForm="ngForm">
            <mat-dialog-content style="margin: 0px; padding: 0px;">
                <div class="option">
                    <!-- Alert -->
                    <fuse-alert class="mt-8 -mb-4 text-red-500" *ngIf="showAlert" [appearance]="'fill'"
                        [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                        {{alert.message}}
                    </fuse-alert>
                </div>

                <div class="folderFieldContractor">
                    <mat-form-field *ngIf="showTotal" class="hiringField" appearance="fill">
                        <mat-label for="totalContrato">Valor contrato</mat-label>
                        <span matPrefix>$</span>
                        <input type="text" id="totalContrato" [(ngModel)]="valorTotalContrato"
                            [formControlName]="'totalContrato'" matInput placeholder="total Contrato">
                        <mat-icon class="icon-size-5" matSuffix
                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="folderFieldContractor">
                    <mat-form-field class="hiringField" appearance="fill">
                        <mat-label>Lista Componentes</mat-label>
                        <mat-select formControlName="componente" placeholder="Componentes"
                            (selectionChange)="getElements('COMPONENTE',$event)" name="componente">
                            <mat-option *ngFor="let componente of componentes" [value]="componente.id">
                                {{componente.nombreComponente}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                        <mat-error *ngIf="formContractor.get('componente').hasError('required')">
                            El Campo componente es obligatorio
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="hiringField" appearance="fill">
                        <mat-label>Lista Actividades</mat-label>
                        <mat-select formControlName="activity" [value]="activitySelectId"
                            (selectionChange)="asignActivity($event)" name="elemento">
                            <mat-option *ngFor="let activity of activities" [value]="activity.id">
                                {{activity.nombreActividad}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field class="hiringField" appearance="fill">
                        <mat-label>Lista Elementos</mat-label>
                        <mat-select formControlName="elemento" (selectionChange)="asignElement($event)" name="elemento">
                            <mat-option *ngFor="let element of elements" [value]="element.id"
                                [disabled]="element.cantidadEnable==0">
                                {{element.nombreElemento}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                        <mat-error *ngIf="formContractor.get('elemento').hasError('required')">
                            El Campo elemento es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="folderFieldContractor">
                    <mat-form-field class="hiringField" appearance="fill">
                        <mat-label for="caso">Caso</mat-label>
                        <input type="text" id="caso" formControlName="caso" autocomplete="off" matInput
                            [placeholder]="'Caso'">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                    </mat-form-field>

                    <mat-form-field class="hiringField" appearance="fill">
                        <mat-label for="numeroActa">Numero de Acta</mat-label>
                        <input matInput id="numeroActa" formControlName="numeroActa" autocomplete="off" matInput
                            placeholder="numeroActa">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field (click)="pickerFC.open()" class="hiringField" appearance="fill">
                        <mat-label for="fechaComite">Fecha Comite</mat-label>
                        <input matInput id="fechaComite" autocomplete="off" formControlName="fechaComite"
                            [matDatepicker]="pickerFC">
                        <mat-datepicker #pickerFC></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerFC"></mat-datepicker-toggle>
                    </mat-form-field>
                </div>
                <div class="folderFieldContractor">

                    <mat-form-field (click)="pickerIR.open()" class="hiringField" appearance="fill">
                        <mat-label for="fechaInicioReal">Fecha Real Inicio</mat-label>
                        <input matInput id="fechaInicioReal" [min]="detalleContrat.fechaContrato"
                            (dateChange)="dateChange($event)" autocomplete="off" formControlName="fechaInicioReal"
                            [matDatepicker]="pickerIR">
                        <mat-datepicker #pickerIR></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerIR"></mat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field (click)="pickerFCo.open()" class="hiringField" appearance="fill">
                        <mat-label for="fechaFinalizacionConvenio">Fecha Finalización Convenio</mat-label>
                        <input matInput id="fechaFinalizacionConvenio" (dateChange)="dateChangeFinal($event)"
                            [min]="minDate" [max]="detalleContrat.fechaFinalizacion" autocomplete="off"
                            formControlName="fechaFinalizacionConvenio" [matDatepicker]="pickerFCo">
                        <mat-datepicker #pickerFCo></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerFCo"></mat-datepicker-toggle>
                        <mat-error *ngIf="formContractor.get('fechaFinalizacionConvenio').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="hiringField" appearance="fill">
                        <mat-label for="nivel">Nivel de riesgo</mat-label>
                        <mat-select placeholder="Nivel ARL" formControlName="nivel" id="nivel" name="nivel">
                            <mat-option *ngFor="let nivel of niveles" [value]="nivel.viewValue">
                                {{nivel.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="folderFieldContractor">
                    <mat-form-field class="hiringField" appearance="fill">
                        <mat-label for="requierePoliza">Requiere poliza</mat-label>
                        <mat-select (selectionChange)="requiere($event)" id="requierePoliza"
                            [formControlName]="'requierePoliza'" name="requierePoliza">
                            <mat-option *ngFor="let poliza of requierePoliza" [value]="poliza.viewValue">
                                {{poliza.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field class="hiringField" *ngIf="showDataPoliza" appearance="fill">
                        <mat-label>Numero Poliza</mat-label>
                        <input type="text" id="noPoliza" formControlName="noPoliza" autocomplete="off" matInput
                            placeholder="noPoliza">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field *ngIf="showDataPoliza" (click)="pickerVI.open()" class="hiringField"
                        appearance="fill">
                        <mat-label>Vigencia Inicial</mat-label>
                        <input matInput id="vigenciaInicial" autocomplete="off" formControlName="vigenciaInicial"
                            [matDatepicker]="pickerVI">
                        <mat-datepicker #pickerVI></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerVI"></mat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field class="hiringField" *ngIf="showDataPoliza" (click)="pickerEP.open()"
                        appearance="fill">
                        <mat-label>Fecha Expedicion Poliza</mat-label>
                        <input matInput id="fechaExPedicionPoliza" autocomplete="off"
                            formControlName="fechaExPedicionPoliza" [matDatepicker]="pickerEP">
                        <mat-datepicker #pickerEP></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerEP"></mat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field *ngIf="showDataPoliza" (click)="pickerVF.open()" class="hiringField"
                        appearance="fill">
                        <mat-label>Vigencia Final</mat-label>
                        <input matInput id="vigenciaFinal" autocomplete="off" formControlName="vigenciaFinal"
                            [matDatepicker]="pickerVF">
                        <mat-datepicker #pickerVF></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerVF"></mat-datepicker-toggle>
                    </mat-form-field>
                    <mat-form-field (click)="pickerEX.open()" class="hiringField" appearance="fill">
                        <mat-label>Fecha Examen Preocupacional</mat-label>
                        <input matInput id="fechaExamenPreocupacional" autocomplete="off" [min]="twoYearAgoExam"
                            [max]="registerDate" formControlName="fechaExamenPreocupacional" [matDatepicker]="pickerEX">
                        <mat-datepicker #pickerEX></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerEX"></mat-datepicker-toggle>
                    </mat-form-field>
                </div>
                <div class="folderFieldContractor">
                    <mat-form-field class="dataHiringC" appearance="fill">
                        <mat-label>Actividad Contrato</mat-label>
                        <textarea type="text" class="example-full-width" id="activityContract"
                            formControlName="activityContract" autocomplete="off" matInput
                            placeholder="Actividad Contrato"></textarea>
                    </mat-form-field>
                </div>

            </mat-dialog-content>
            <mat-dialog-actions class="action" align="end">
                <button class="btn-cancelar" mat-flat-button [color]="'warn'" type="button"
                    [mat-dialog-close]="false">Cancelar</button>
                <button mat-flat-button [color]="'primary'" [disabled]="!permission"
                    (click)="sendEconomicdataContractor()"> <span *ngIf="!formContractor.disabled">{{title}}</span>
                    <mat-progress-spinner *ngIf="formContractor.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner></button>
            </mat-dialog-actions>
        </form>

    </div>
</div>