<div class="container">
    <div style="margin-bottom: 20px;" class="col-md-4 text-right">
        <button (click)="downloadExpancionMinute()" class="btn btn-success btn-block">Descargar Minuta de Ampliación</button>
        <button (click)="downloadAditionMinute()" class="btn btn-success btn-block">Descargar Minuta de Adición</button>
        <button (click)="downloadAdition1AndExpancion1Minute()" class="btn btn-success btn-block">Descargar Minuta  Adición 1 y Ampliación 1</button>
        <button (click)="downloadPreviousStudy()" class="btn btn-success btn-block">Descargar Estudio Previo</button>
        <button (click)="downloadsolicitudComite()" class="btn btn-success btn-block">Solicitud Comite</button>

    </div>
</div>