<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <a href="dashboards/inicio" class="ml-1 text-primary-500">Inicio</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">Planeación</span>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <a href="docs/ecommerce/cuadroEconomico" class="ml-1 text-primary-500">Cuadro Económico</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">Componentes</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    COMPONENTES
                </h2>
            </div>
        </div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- <button mat-stroked-button>
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                Edit
            </button> -->
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="addComponent()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
                Agregar Nuevo
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow overflow-y-auto bg-card">
        <div id="contenedor" cdkScrollable>
            <div>
                <igx-tree class="tree-root">
                    <igx-tree-node *ngFor="let type of data">
                        <mat-icon (click)="abrirDivComponent(type)">visibility</mat-icon>
                        Componente : {{ type.nombreComponente }}
                        <igx-tree-node *ngFor="let value of type.elementos">
                            <mat-icon (click)="abrirDivElement(value)">visibility</mat-icon>
                            Elemento : {{ value.nombreCpc }}
                        </igx-tree-node>
                    </igx-tree-node>
                </igx-tree>
            </div>
            <div *ngIf="abrirDivComponente">
                <fuse-card class="flex flex-col w-full p-8 pt-6 filter-list border" style="margin: 5px;">
                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Información del Componente</div>
                        <div class="-mr-4">
                            <button mat-icon-button [matMenuTriggerFor]="listCard07Menu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #listCard07Menu="matMenu">
                                <button mat-menu-item (click)="addElements()">Agregar Elemento</button>
                                <button mat-menu-item>Editar</button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="flex flex-col my-2">
                        <div class="my-2">
                            <div>Nombre: {{dataComponente.nombreComponente}}</div>
                        </div>
                        <div class="my-2">
                            <div>Rubro: {{dataComponente.rubro}}</div>
                        </div>
                        <div class="my-2">
                            <div>Nombre Rubro: {{dataComponente.nombreRubro}}</div>
                        </div>
                        <div class="my-2">
                            <div>Cantidad de Elementos: {{dataComponente.elementos.length}} </div>
                        </div>
                    </div>
                </fuse-card>
            </div>
            <div *ngIf="abrirDivElemento">
                <fuse-card class="flex flex-col w-full p-8 pt-6 filter-list border" style="margin: 5px;">
                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Información del Elemento</div>
                        <div class="-mr-4">
                            <button mat-icon-button [matMenuTriggerFor]="listCard07Menu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #listCard07Menu="matMenu">
                                <button mat-menu-item>Editar</button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="flex flex-col my-2">
                        <div class="my-2">
                            <div>Nombre CPC: {{dataElemento.nombreCpc}}</div>
                        </div>
                        <div class="my-2">
                            <div>CPC: {{dataElemento.cpc}}</div>
                        </div>
                        <div class="my-2">
                            <div>Cantidad de Contratistas: {{dataElemento.cantidadContratistas}}</div>
                        </div>
                        <div class="my-2">
                            <div>Cantidad de Días: {{dataElemento.cantidadDias}}</div>
                        </div>
                        <div class="my-2">
                            <div>Valor Unidad: {{dataElemento.valorUnidad}}</div>
                        </div>
                        <div class="my-2">
                            <div>Valor por Día: {{dataElemento.valorPorDia}}</div>
                        </div>
                        <div class="my-2">
                            <div>Valor Total: {{dataElemento.valorTotal}}</div>
                        </div>
                    </div>
                </fuse-card>
            </div>
        </div>

    </div>

</div>