<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Cargar Archivos Usario</div>
        <button mat-icon-button (click)="cerrar()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- <p style="text-align: center; font-size: medium; text-decoration-style: dotted; text-decoration-color: black;">Cargar Archivo</p> -->
    <div class="modal-body pt-6">
        <form [formGroup]="formFile" class="example-form">
            <div class="folder">
                <div>
                    <mat-form-field *ngIf="!typeImageB" class="hiring" appearance="outline">
                        <mat-label>Firma propia</mat-label>
                        <mat-select (selectionChange)="owner($event)" required id="ownerValidate"
                            formControlName="ownerValidate" name="ownerValidate">
                            <mat-option *ngFor="let doc of propietario" [value]="doc.viewValue">
                                {{doc.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix
                            [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                        <mat-error *ngIf="formFile.get('ownerValidate').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="isOwner && !typeImageB" class="hiring" appearance="outline">
                        <mat-label>Nombre Propietario</mat-label>
                        <input type="text" id="ownerFirm" formControlName="ownerFirm" autocomplete="off" matInput
                            placeholder="Nombre Propietario">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                        <mat-error *ngIf="formFile.get('ownerFirm').hasError('required')">
                            El Campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field class="hiring" appearance="outline">
                    <mat-label>Tipo Archivo</mat-label>
                    <mat-select formControlName="typeUserFile" (selectionChange)="typeImage($event)" name="typeFile">
                        <mat-option *ngFor="let type of typeUserFile" [value]="type.id">
                            {{type.fileTypeDescription}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="isOwner">

                    <mat-form-field *ngIf="!typeImageB" class="hiring" appearance="outline">
                        <mat-label>Cargo Propietario</mat-label>
                        <mat-select formControlName="userCharge" (selectionChange)="onChange($event,member)"
                            name="userCharge">
                            <mat-option *ngFor="let role of members" [value]="role.id">
                                {{role.rollName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field class="hiringD" appearance="outline">
                        <mat-label>Cargo Propietario</mat-label>
                        <textarea type="text" class="example-full-width" id="userCharge" formControlName="userCharge"
                            autocomplete="off" matInput placeholder="Descripcion"></textarea>
                        <mat-error *ngIf="formFile.get('userCharge').hasError('required')">
                            El Campo es requerido
                        </mat-error>
                    </mat-form-field> -->

                </div>

                <div class="text-center pt-8">
                    <input formControlName="file" type="file" mat-flat-button color="primary"
                        accept=".jpg, .jpeg, .png, .pdf, .docx" (change)="onChange($event)">
                </div>
                <!-- Shareable short link of  uploaded file -->
                <div class="container text-center jumbotron" *ngIf="shortLink">
                    <h2> Visit Here</h2>
                    <a href="{{shortLink}}">{{shortLink}}</a>
                </div>
                <!--Flag variable is used here-->
                <div class="container" *ngIf="loading">
                    <h3>Loading ...</h3>
                </div>
            </div>
        </form>
    </div>

</div>
<mat-dialog-actions align="end" class="pt-8">
    <button mat-flat-button type="button" [mat-dialog-close]="true" [color]="'warn'">Cancelar</button>
    <button mat-flat-button [color]="'primary'" type="submit" [disabled]="disableButton" *ngIf="!formFile.disabled"
        (click)="uploadFirm($event)">Cargar Archivo</button>
</mat-dialog-actions>