<div class="flex-col max-w-220 md:min-w-120 -m-6">
    <div class="flex-col max-w-220 md:min-w-120">
        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Registro Modificacion</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <mat-dialog-content style="margin: 0px; padding: 0px;">

            <!-- Card form -->
            <form class="flex flex-col flex-0 items-start w-full p-4 sm:p-4 space-y-3 overflow-y-auto"
                [formGroup]="modifyForm">

                <div>
                    <mat-form-field *ngIf="showDate" (click)="pickerFCo.open()" class="field" appearance="outline">
                        <mat-label>Fecha Inicio Contrato</mat-label>
                        <input matInput id="fechaInicioAmpliacion" [value]="dateAdiction.fechaFinalizacion" 
                            (dateChange)="dateChange($event)" autocomplete="off" formControlName="fechaInicioAmpliacion"
                            [matDatepicker]="pickerFCo">
                        <mat-datepicker #pickerFCo></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerFCo"></mat-datepicker-toggle>
                        <mat-error *ngIf="modifyForm.get('fechaInicioAmpliacion').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="showDate" (click)="pickerFCo.open()" class="field" appearance="outline">
                        <mat-label>Fecha Final Contrato</mat-label>
                        <input matInput id="fechaFinalAmpliacion" [value]="dateAdiction.fechaFinalizacion" 
                            autocomplete="off" formControlName="fechaFinalAmpliacion" [matDatepicker]="pickerFCo">
                        <mat-datepicker #pickerFCo></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerFCo"></mat-datepicker-toggle>
                        <mat-error *ngIf="modifyForm.get('fechaFinalAmpliacion').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <!-- <mat-form-field class="field" appearance="outline">
                        <mat-label>Fecha Modificación</mat-label>
                        <mat-select [formControlName]="'fechaModificacion'" name="adicion">
                            <mat-option *ngFor="let adicion of dateAdiction$ | async"
                                [value]="adicion.fechaFinalizacion">
                                {{adicion.fechaFinalizacion | date}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                        <mat-error *ngIf="modifyForm.get('fechaModificacion').hasError('required')">
                            El Campo Fecha es requerido
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field *ngIf="showDate" (click)="pickerFCo.open()" class="field" appearance="outline">
                        <mat-label>Fecha Inicio Ampliacion</mat-label>
                        <input matInput id="fechaInicioAmpliacion" [min]="minDate" [max]="maxdate"
                            (dateChange)="dateChange($event)" autocomplete="off" formControlName="fechaInicioAmpliacion"
                            [matDatepicker]="pickerFCo">
                        <mat-datepicker #pickerFCo></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerFCo"></mat-datepicker-toggle>
                        <mat-error *ngIf="modifyForm.get('fechaInicioAmpliacion').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="showDate" (click)="pickerFCo.open()" class="field" appearance="outline">
                        <mat-label>Fecha Final Ampliacion</mat-label>
                        <input matInput id="fechaFinalAmpliacion" [min]="minDateFinal" 
                            autocomplete="off" formControlName="fechaFinalAmpliacion" [matDatepicker]="pickerFCo">
                        <mat-datepicker #pickerFCo></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerFCo"></mat-datepicker-toggle>
                        <mat-error *ngIf="modifyForm.get('fechaFinalAmpliacion').hasError('required')">
                            Este Campo es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="field" appearance="outline">
                        <mat-label>Tipo Modidicacion</mat-label>
                        <mat-select [formControlName]="'tipoModificacion'" (selectionChange)="selectmodificacion($event)" name="modificacion">
                            <mat-option *ngFor="let tipo of tipoModificacion" [value]="tipo.id">
                                {{tipo.minuteTypeDescription}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                        <mat-error *ngIf="modifyForm.get('tipoModificacion').hasError('required')">
                            El Campo Tipo de opcion es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field disable class="field" appearance="outline">
                        <mat-label>Nombre Elemento</mat-label>
                        <input type="text" id="nombreElemento" [value]="elemento.nombreElemento"
                            formControlName="nombreElemento" autocomplete="off" matInput placeholder="Nombre Elemento">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                        <mat-error *ngIf="modifyForm.get('nombreElemento').hasError('required')">
                            El Campo es requerido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="field" appearance="outline">
                        <mat-label>Recursos Adicionales</mat-label>
                        <input [value]="elemento.recursos" id="calculateValue" formControlName="recursos"
                            autocomplete="off" matInput placeholder="Recuros">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field class="field" appearance="outline">
                        <mat-label>Cantidad Días</mat-label>
                        <input type="number" [value]="elemento.cantidadDias" id="cantDay" formControlName="cantDay"
                            autocomplete="off" matInput placeholder="Cantidad Días">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                        <mat-error *ngIf="modifyForm.get('cantDay').hasError('required')">
                            El Campo Cantidad Días es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="showModify">
                    <mat-form-field disable class="field" appearance="outline">
                        <mat-label>Nombre Cpc</mat-label>
                        <input type="mail" id="nombreCpc" [value]="elemento.nombreCpc" formControlName="nombreCpc"
                            autocomplete="off" matInput placeholder="Nombre Cpc">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        <mat-error *ngIf="modifyForm.get('nombreCpc').hasError('required')">
                            El Campo nombre cpc es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field disable class="field" appearance="outline">
                        <mat-label>CPC</mat-label>
                        <input type="text" id="cpc" [value]="elemento.cpc" formControlName="cpc" autocomplete="off"
                            matInput placeholder="CPC">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                        <mat-error *ngIf="modifyForm.get('cpc').hasError('required')">
                            El Campo cpc es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="field" appearance="outline">
                        <mat-label>Valor Unidad(a pagar por mes)</mat-label>
                        <input type="text" value="{{this.elemento.valorUnidad}}" id="unitValue"
                            formControlName="unitValue" autocomplete="off" matInput placeholder="Valor Unidad">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                        <mat-error *ngIf="modifyForm.get('unitValue').hasError('required')">
                            El Campo Valor Unidad es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field disable class="field" appearance="outline">
                        <mat-label>Valor a pagar Por dia</mat-label>
                        <input type="text" [value]="elemento.valorPorDia" formControlName="unitValueDay"
                            autocomplete="off" matInput placeholder="Valor por Día">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field class="field" appearance="outline">
                        <mat-label>Valor Total Contrato</mat-label>
                        <input type="text" value="{{elemento.valorTotal}}" id="totalValue" formControlName="totalValue"
                            autocomplete="off" matInput placeholder="Valor Total">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>

                </div>
                <div>
                    <mat-form-field class="field" [hidden]="totalCalculate" appearance="outline">
                        <mat-label>Total Exacto</mat-label>
                        <input type="number" [value]="elemento.recursos" id="calculateValue"
                            formControlName="calculateValue" autocomplete="off" matInput placeholder="Valor Exacto">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>

                </div>
                <div *ngIf="showModify" class="folder">
                    <mat-form-field class="hiringD" appearance="outline">
                        <mat-label>Objeto</mat-label>
                        <textarea type="text"  [value]="elemento.objetoElemento"  class="example-full-width" id="objetoElemento"
                            formControlName="objetoElemento" autocomplete="off" matInput
                            placeholder="Descripcion"></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="showModify" class="folder">
                    <mat-form-field class="hiringD" appearance="outline">
                        <mat-label>obligaciones Especificas</mat-label>
                        <textarea type="text"  [value]="elemento.obligacionesEspecificas"  class="example-full-width" id="obligacionesEspecificas"
                            formControlName="obligacionesEspecificas" autocomplete="off" matInput
                            placeholder="Descripcion"></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="showModify" class="folder">
                    <mat-form-field class="hiringD" appearance="outline">
                        <mat-label>obligaciones Generales</mat-label>
                        <textarea type="text"  [value]="elemento.obligacionesGenerales"  class="example-full-width" id="obligacionesGenerales"
                            formControlName="obligacionesGenerales" autocomplete="off" matInput
                            placeholder="Descripcion"></textarea>
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-flat-button type="button" [color]="'warn'" [mat-dialog-close]="false">Cancelar</button>
            <button class="m-5 bg-green-600" mat-flat-button type="button" (click)="calculate()">Calcular</button>
            <button class="m-2" mat-flat-button [color]="'primary'" type="submit" [mat-dialog-close]="true"
                (click)="addModify()">Guardar</button>
        </mat-dialog-actions>
    </div>
</div>