.field {
    margin-left: 20px;
    width: 250px;
}

.hiringD {
    padding-left: 20px;
    width: 800PX !important;
    max-width: 850px !important;
}

textarea{
    width: 100% !important;
    height: 100% !important;
}

.folder{
    margin-left: 5px;
    text-align: center;
}