<div class="container">
    <div class="row">
        <div class="col-md-12" id="htmlData">
            <table class="table table-bordered">
                <tr class="alinear">
                    <td rowspan="2" style="padding-top: 35px;">CUENTA DE COBRO</td>
                    <td>FECHA DE COBRO </td>
                    <td>NÚMERO</td>
                </tr>
                <tr class="alinear">
                    <td>26 de septiembre 2022</td>
                    <td>1</td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td>EMPRESA</td>
                    <td>NIT:</td>
                </tr>
                <tr class="alinear">
                    <td>Cra 24b # 40a sur 162</td>
                    <td>423-4899</td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td colspan="6">DEBE A:</td>
                </tr>
                <tr class="alinear">
                    <td>NOMBRE:</td>
                    <td class="name" colspan="5">JHOJAN ALEJANDRO HERNANDEZ YEPES</td>
                </tr>
                <tr class="alinear">
                    <td colspan="6">INSCRITO EN EL RÉGIMEN SIMPLIFICADO DEL IVA</td>
                </tr>
                <tr class="alinear">
                    <td>CÉDULA:</td>
                    <td>1000189631</td>
                    <td>DV</td>
                    <td>8</td>
                    <td>EXPEDIDA EN:</td>
                    <td>Medellín</td>
                </tr>
                <tr class="alinear">
                    <td>DIRECCION:</td>
                    <td colspan="3">Cra 24b # 40a sur 162</td>
                    <td>TELEFONO:</td>
                    <td>3003853164</td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td>CONCEPTO:</td>
                    <td>Contrato de prestación de servicios como contratista para desarrollo
                        RPA.</td>
                </tr>
                <tr class="alinear">
                    <td>PERIODO:</td>
                    <td> 24 de agosto del 2022 hasta 24 de septiembre del 2022</td>
                </tr>
                <tr class="alinear">
                    <td>VALOR:</td>
                    <td colspan="5">$ 2.500.000</td>
                </tr>
                <tr class="alinear">
                    <td>EN LETRAS:</td>
                    <td colspan="2"> Dos millones quinientos mil pesos</td>
                </tr>
                <tr class="alinear">
                    <td colspan="2">Favor consignar en la cuenta de AHORROS BANCOLOMBIA N° 21800002474</td>
                </tr>
            </table>
            <div class="line">
                <h1 class="firm">FIRMA:</h1>
                <mat-divider class="linea" fxFlex="3,0"></mat-divider>
                <h2 class="contractorName">NOMBRE</h2>
                <h2 class="contractorName">Documento</h2>

            </div>
        </div>
        <div style="margin-bottom: 20px;" class="col-md-4 text-right">
            <button class="btn btn-success btn-block" >Download PDF</button>
        </div>
    </div>
</div>