<div class="flex-col max-w-250 md:min-w-120 -m-6">
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
      <div class="text-lg font-medium">Registro Componente</div>
      <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
          <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </button>
  </div>

  <!-- Card form -->
  <form class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto"
      [formGroup]="componentForm">

      <!-- Title -->
      <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
          <mat-label>Nombre Componente</mat-label>
          <input matInput id="componentName" formControlName="componentName" autocomplete="off" matInput
              placeholder="Nombre Componente">
          <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:annotation'"></mat-icon>

          <mat-error *ngIf="componentForm.get('componentName').hasError('required')">
              El Campo actividad es requerido
          </mat-error>
      </mat-form-field>
      <div class="folder pt-2">
          <mat-form-field class="hiring" appearance="outline">
              <mat-label>Rubro</mat-label>
              <input type="text" id="cpc" formControlName="rubro" autocomplete="off" matInput placeholder="Rubro">
              <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
              <mat-error *ngIf="componentForm.get('rubro').hasError('required')">
                  El Campo cpc es requerido
              </mat-error>
          </mat-form-field>
          <mat-form-field class="hiringD w-full" appearance="outline">
              <mat-label>Nombre Rubro</mat-label>
              <input type="mail" id="nombreRubro" formControlName="nombreRubro" autocomplete="off" matInput
                  placeholder="Nombre Rubro">
              <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
              <mat-error *ngIf="componentForm.get('nombreRubro').hasError('required')">
                  El Campo nombre cpc es requerido
              </mat-error>
          </mat-form-field>


      </div>
  </form>
  <div class="btn">
      <button mat-flat-button mat-stroked-button [color]="'warn'" type="button"
          [mat-dialog-close]="false">Cancelar</button>
      <button class="m-2" mat-flat-button *ngIf="!update" [color]="'primary'" type="submit" [mat-dialog-close]="true"
          (click)="addComponent()">Aceptar</button>
      <button class="m-5" mat-flat-button *ngIf="update" [color]="'primary'" type="submit" [mat-dialog-close]="true"
          (click)="addComponent()">Actualizar</button>
  </div>
</div>
