<div class="flex-col max-w-250 md:min-w-120 -m-6">
    <div class="flex-col max-w-240 md:min-w-160">
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Rgistro datos de Contratación</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <mat-dialog-content style="margin: 0px; padding: 0px;">
            <div class="option">
                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4 text-red-500" *ngIf="showAlert" [appearance]="'fill'"
                    [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
            </div>
            <!-- Sign Up form -->
            <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="contractorinformationStepperForm">
                <mat-vertical-stepper [linear]="true" #stepper>
                    <mat-step [formGroupName]="'step1'" [stepControl]="contractorinformationStepperForm.get('step1')"
                        #horizontalStepperStep1>
                        <ng-template matStepLabel>Información Personal</ng-template>
                        <div class="folderFieldContractor">
                            <mat-form-field (click)="pickerFC.open()" class="hiringField" appearance="fill">
                                <mat-label>Fecha Nacimiento</mat-label>
                                <input matInput id="birthDate" [max]="minBirth" autocomplete="off"
                                    formControlName="birthDate" [matDatepicker]="pickerFC" matDatepickerFormat="dd/MM/yyyy"  required>
                                <mat-datepicker #pickerFC></mat-datepicker>
                                <mat-datepicker-toggle matSuffix [for]="pickerFC"></mat-datepicker-toggle>
                                <mat-error>
                                    Se requiere fecha nacimiento
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="hiringField" appearance="fill">
                                <input id="identification" matInput autocomplete="off"
                                    [formControlName]="'identification'" [placeholder]="'Número de Cedula'" required>
                                <mat-error>
                                    Se requiere Cedula
                                </mat-error>
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="hiringField" appearance="fill">
                                <input id="expeditionPlace" autocomplete="off" matInput
                                    [formControlName]="'expeditionPlace'" [placeholder]="'Lugar de expedición'"
                                    required>
                                <mat-error>
                                    Se requiere Lugar Expedición
                                </mat-error>
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="folderFieldContractor">
                            <mat-form-field class="hiringField" appearance="fill">
                                <mat-label>Nacionalidad</mat-label>
                                <mat-select [formControlName]="'nacionality'" name="raffles">
                                    <mat-option *ngFor="let nacionality of nacionalities"
                                        [value]="nacionality.viewValue">
                                        {{nacionality.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="hiringField" appearance="fill">
                                <input id="phoneNumber" matInput [formControlName]="'phoneNumber'"
                                    [placeholder]="'Número Telefono'" required>
                                <mat-error>
                                    Se requiere Telefono
                                </mat-error>
                                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="hiringField" appearance="fill">
                                <input type="number" id="movilPhoneNumber" matInput
                                    [formControlName]="'movilPhoneNumber'" [placeholder]="'Número Celular'" required>
                                <mat-error>
                                    Se requiere Celular
                                </mat-error>
                                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="folderFieldContractor">
                            <div class="flex flex-col mt-8">
                                <span class="font-semibold mb-2">Selecionar Genero</span>
                                <mat-radio-group class="checkRadio" [color]="'primary'" [disabled]="false">
                                    <mat-radio-button *ngFor="let genero of generos" [matTooltip]="genero" class="mr-4"
                                        (change)="onChange($event,file)" [value]="genero">{{genero}}</mat-radio-button>
                                </mat-radio-group>
                            </div>

                        </div>

                        <div class="folderFieldContractor">
                            <mat-form-field class="hiringField" appearance="fill">
                                <mat-label>departamentos</mat-label>
                                <mat-select [formControlName]="'departamento'" name="raffles"
                                    (selectionChange)="getMunicipios($event)">
                                    <mat-option *ngFor="let department of departments" [value]="department.id">
                                        {{department.departamento}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="hiringField" appearance="fill">
                                <mat-label>Municipios</mat-label>
                                <mat-select [formControlName]="'Municipality'" name="municipality">
                                    <mat-option *ngFor="let municipios of municipio" [value]="municipios">
                                        {{municipios}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="hiringField" appearance="fill">
                                <input id="neiberhood" matInput [formControlName]="'neiberhood'"
                                    [placeholder]="'Barrio'" required>
                                <mat-error>
                                    Se requiere Barrio
                                </mat-error>
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input type="text" id="address" matInput [formControlName]="'address'"
                                    [placeholder]="'Dirección'" required autocomplete="off">
                                <mat-error>
                                    Se requiere dirección
                                </mat-error>
                                <mat-icon class="icon-size-5" matSuffix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end">
                            <button class="px-8" mat-flat-button [color]="'primary'"
                                [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                                type="button" matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [formGroupName]="'step2'" [stepControl]="contractorinformationStepperForm.get('step2')"
                        #horizontalStepperStep2>
                        <ng-template class="mb-5" matStepLabel>Información Academica</ng-template>

                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        información de estudios tecnicos
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="technical" matInput [formControlName]="'technical'"
                                        [placeholder]="'Titulo Obtenido'" autocomplete="off">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="technicalInstitution" matInput [formControlName]="'technicalInstitution'"
                                        [placeholder]="'Institución'">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                                </mat-form-field>
                                <mat-action-row>
                                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        información de estudios tecnologicos
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="technologist" matInput [formControlName]="'technologist'"
                                        [placeholder]="'Titulo Obtenido'" autocomplete="off">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="technologistInstitution" matInput
                                        [formControlName]="'technologistInstitution'" [placeholder]="'Institución'">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                                </mat-form-field>
                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">previo</button>
                                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        información de estudios de pregrado
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="undergraduate" matInput [formControlName]="'undergraduate'"
                                        [placeholder]="'Titulo Obtenido'" autocomplete="off">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="undergraduateInstitution" matInput
                                        [formControlName]="'undergraduateInstitution'" [placeholder]="'Institución'">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                                </mat-form-field>

                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Información de Especialización
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="specialization" matInput [formControlName]="'specialization'"
                                        [placeholder]="'Titulo Obtenido'" autocomplete="off">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="undergraduateInstitution" matInput
                                        [formControlName]="'specializationInstitution'" [placeholder]="'Institución'">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                                </mat-form-field>

                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">Previo</button>
                                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        información de Maestría
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="master" matInput [formControlName]="'master'"
                                        [placeholder]="'Titulo Obtenido'" autocomplete="off">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="masterInstitution" matInput [formControlName]="'masterInstitution'"
                                        [placeholder]="'Institución'">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                                </mat-form-field>
                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">Previo</button>
                                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        información de Doctorado
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="doctorate" matInput [formControlName]="'doctorate'"
                                        [placeholder]="'Titulo Obtenido'" autocomplete="off">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input id="doctorateInstitution" matInput [formControlName]="'doctorateInstitution'"
                                        [placeholder]="'Institución'">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                                </mat-form-field>
                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">Previo</button>
                                    <button mat-button color="primary" (click)="nextStep()">Fin</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="flex justify-end mt-8">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [formGroupName]="'step3'" [stepControl]="contractorinformationStepperForm.get('step3')"
                        #horizontalStepperStep3>
                        <ng-template matStepLabel>Información Bancaria</ng-template>
                        <div class="flex flex-col gt-sm:flex-row">
                            <div class="folderFieldContractor">
                                <mat-form-field class="hiringField" appearance="fill">
                                    <mat-label>Bancos</mat-label>
                                    <input type="text" placeholder="Seleccione o Digite" aria-label="bank" matInput
                                        formControlName="bank" [matAutocomplete]="bankAutoComplete">
                                    <mat-autocomplete #bankAutoComplete="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsBanks | async"
                                            [value]="option.bankName">
                                            {{ option.bankName }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <!-- <mat-form-field class="hiringField" appearance="fill">
                                    <mat-label>Bancos</mat-label>
                                    <input type="text" placeholder="Seleccione o Digite"
                                        aria-label="Nombre del Elemento" matInput [formControlName]="'bank'"
                                        [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let bank of banks | async" [value]="bank.id">
                                            {{bank.bankName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field> -->
                                <mat-form-field class="hiringField" appearance="fill">
                                    <mat-label>Tipo Cuenta</mat-label>
                                    <input type="text" placeholder="Seleccione o Digite"
                                        aria-label="Nombre del Elemento" matInput [formControlName]="'accountType'"
                                        [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let account of filteredOptionsAccountType | async"
                                            [value]="account">
                                            {{account}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <input type="number" id="accountNumber" matInput [formControlName]="'accountNumber'"
                                        [placeholder]="'Número cuenta'" autocomplete="off">
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <!-- <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                <mat-checkbox [color]="'primary'" [formControlName]="'agreements'">
                                    <span>Estoy de acuerdo con</span>
                                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']"> Términos de
                                        servicio
                                    </a>
                                    <span>Y</span>
                                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']"> Políticas de
                                        privacidad
                                    </a>
                                </mat-checkbox>

                            </div> -->
                        </div>
                        <div class="flex justify-end mt-5">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'"
                                [disabled]="horizontalStepperStep3.stepControl.pristine || horizontalStepperStep3.stepControl.invalid"
                                type="button" matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </mat-step>
                    <mat-step [formGroupName]="'step4'" [stepControl]="contractorinformationStepperForm.get('step4')"
                        #horizontalStepperStep4>
                        <ng-template class="mb-5" matStepLabel>Información Seguridad Social</ng-template>

                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Información EPS
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <mat-form-field class="hiringField" appearance="fill">
                                    <mat-label fro="eps">EPS</mat-label>
                                    <mat-select [formControlName]="'eps'" name="eps" id="eps"> 
                                        <mat-option *ngFor="let epsSelect of eps"
                                            [value]="epsSelect.id">
                                            {{epsSelect.entityHealthDescription}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-action-row>
                                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        información de AFP
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <mat-form-field class="hiringField" appearance="fill">
                                    <mat-label>PENSIÓN</mat-label>
                                    <mat-select [formControlName]="'afp'" name="afp">
                                        <mat-option *ngFor="let afpSelect of afp"
                                            [value]="afpSelect.id">
                                            {{afpSelect.entityHealthDescription}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">previo</button>
                                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        información ARL
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field class="hiringField" appearance="fill">
                                    <mat-label>ARL</mat-label>
                                    <mat-select [formControlName]="'arl'" name="raffles">
                                        <mat-option *ngFor="let arlSelect of arl"
                                            [value]="arlSelect.id">
                                            {{arlSelect.entityHealthDescription}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">Previo</button>
                                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                        </mat-accordion>
                        <div class="flex justify-end mt-5">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'"
                                [disabled]="horizontalStepperStep4.stepControl.pristine || horizontalStepperStep4.stepControl.invalid"
                                type="button" matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Terminado</ng-template>
                        <p class="my-6 font-medium">
                            ¡Gracias por completar nuestro formulario! </p>
                        <!-- <div class="flex flex-col">
                                <mat-form-field class="w-full">
                                    <mat-label>Contraseña</mat-label>
                                    <input id="password" matInput type="password" [formControlName]="'password'"
                                        #passwordField>
                                    <button mat-icon-button type="button"
                                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                        matSuffix>
                                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                    </button>
                                    <mat-error>
                                        la Contraseña es requerida
                                    </mat-error>
                                </mat-form-field>
                            </div> -->
                        <div class="flex justify-end mt-6 ml-5">
                            <button mat-flat-button [color]="'accent'" type="button" class="mt-2 ml-2 mt-6" matStepperPrevious>
                                Volver
                            </button>
                            <button mat-flat-button [color]="'primary'" class="mt-2 ml-2  mt-6"
                                [disabled]="contractorinformationStepperForm.disabled"
                                (click)="saveContractorDataInformation()">
                                <span *ngIf="!contractorinformationStepperForm.disabled">
                                    {{title}}
                                </span>
                                <mat-progress-spinner *ngIf="contractorinformationStepperForm.disabled" [diameter]="24"
                                    [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
            </form>
        </mat-dialog-content>
    </div>
</div>