<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
        <div>
            <a mat-flat-button [routerLink]="['/dashboards/inicio']" [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                <span class="ml-2">Volver</span>
            </a>
            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                {{contractname}}!</div>

        </div>
        <div class="mt-4 sm:mt-0" *ngIf="origin == 'contractual'">
            <!-- Add section button -->
            <button mat-flat-button [color]="'accent'" (click)="addTermFileContract()"
                [matTooltip]="'Shortcut: Ctrl + .'">
                <mat-icon [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                <span class="ml-2 mr-1">Tiempo entrega</span>
            </button>
            <button mat-flat-button class="ml-3" [color]="'accent'" (click)="SendMailsAccounts()"
                [matTooltip]="'Shortcut: Ctrl + .'">
                <mat-icon [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                <span class="ml-2 mr-1">Enviar Correos</span>
            </button>
            <!-- Add task button -->
            <button (click)="registrarDatosContratacion(null)" class="ml-3" mat-flat-button [color]="'primary'"
                [matTooltip]="'Shortcut: Ctrl + /'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Guardar Datos</span>
            </button>

            <button (click)="uploadExcel()" class="ml-3" mat-flat-button [color]="'primary'"
                [matTooltip]="'Shortcut: Ctrl + /'">
                <mat-icon [svgIcon]="'heroicons_solid:save'"></mat-icon>
                <span class="ml-2 mr-1">Cargar Archivo Cdp</span>
            </button>
        </div>
        <div class="mt-4 sm:mt-0" *ngIf="origin == 'nomina'">
            <!-- Add section button -->
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="registerPayment(null)"
                [matTooltip]="'Agregar Varios pagos'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar Pagos</span>
            </button>
            <!-- Add task button -->
        </div>
    </div>
    <div class="flex-auto">
        <mat-form-field class="fuse-mat-dense p-4 fuse-mat-no-subscript fuse-mat-rounded w-120 min-w-50">
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input [autocomplete]="'off'"
                [placeholder]="'Buscar Contrato'">
        </mat-form-field>
    </div>
    <div class="flex-auto border-t -mt-px pt-4 pl-4 pr-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Contratistas</div>
                        <div class="ml-2 -mt-2 -mr-3" *ngIf="origin == 'contractual'">
                            <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #summaryMenu="matMenu">
                                <button *ngIf="visibleOption" mat-menu-item (click)="generarMinuta()">
                                    <mat-icon svgIcon="mat_outline:picture_as_pdf"></mat-icon>
                                    Generar Minuta
                                </button>
                                <button *ngIf="visibleOption" mat-menu-item (click)="generarEstudiosPrevios()">
                                    <mat-icon svgIcon="mat_outline:picture_as_pdf"></mat-icon>
                                    Generar Estudios Previos
                                </button>
                                <button mat-menu-item (click)="activateContarct()">
                                    <mat-icon svgIcon="heroicons_solid:arrow-circle-right"></mat-icon>
                                    Activar contrato
                                </button>

                            </mat-menu>
                        </div>
                    </div>
                    <!-- <div class="p-6">
                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Contratistas</div>
                </div> -->
                    <div *ngIf="origin == 'contractual'" class="inputsearch p-8 pl-20">
                        <app-buttons-export [contractId]="contractId"></app-buttons-export>
                    </div>

                    <div class="overflow-x-auto mx-6">
                        <table class="w-full bg-transparent" mat-table matSort [dataSource]="dataSource"
                            [trackBy]="trackByFn" cdkDropList cdkDropListOrientation="horizontal"
                            (cdkDropListDropped)="drop($event)" matSort (matSortChange)="announceSortChange($event)">
                            <ng-container matColumnDef="select">
                                <th mat-header-cell cdkDrag *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected() "
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row) " [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <ng-container *ngFor="let columna of columnas" matColumnDef="{{columna.name}}" class="demo">
                                <th mat-header-cell class="centre" cdkDrag mat-sort-header *matHeaderCellDef>
                                    {{columna.title}} </th>
                                <td mat-cell [class.selected]="element.selected"
                                    (click)="element.selected = !element.selected;" *matCellDef="let element">
                                    <p
                                        *ngIf="element[columna.name]!= element.acciones && element[columna.name]!= element.elementId && element[columna.name]!= element.componenteId && element[columna.name]!= element.fechaNacimiento && element[columna.name]!= element.legalProccess  && element[columna.name]!= element.hiringStatus && element[columna.name]!= element.statusContractor">
                                        {{element[columna.name]}}
                                    </p>
                                    <p *ngIf="element[columna.name]=== element.fechaNacimiento">
                                        {{element[columna.name] | date:'dd/MM/yyyy'}}
                                    </p>
                                    <span
                                        *ngIf="element[columna.name]=== element.statusContractor && element[columna.name] != element.hiringStatus"
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': element.statusContractor === 'INHABILITADO',
                                        'bg-orange-200 text-orange-800 dark:bg-orange-600 dark:text-orange-50': element.statusContractor === 'EN REVISIÓN',
                                        'bg-gray-200 text-gray-800 dark:bg-gray-600 dark:text-gray-50': element.statusContractor === 'INVITADO',
                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': element.statusContractor === 'CONTRATADO',
                                        'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50': element.statusContractor === 'CONTRATANDO'}">
                                        <span class="leading-relaxed whitespace-nowrap">{{element[columna.name]}}</span>
                                    </span>
                                    <span *ngIf="element[columna.name]=== element.legalProccess;"
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-orange-200 text-orange-800 dark:bg-orange-600 dark:text-orange-50': element.legalProccess == 'EN PROCESO',
                                 'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': element.legalProccess === 'APROBADO'}">
                                        <span class="leading-relaxed whitespace-nowrap">{{element[columna.name]}}</span>
                                    </span>
                                    <span
                                        *ngIf="element[columna.name]=== element.hiringStatus && element[columna.name] != element.legalProccess"
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-orange-200 text-orange-800 dark:bg-orange-600 dark:text-orange-50': element.hiringStatus == 'EN ESPERA',
                             'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': element.hiringStatus === 'CONTRATANDO'}">
                                        <span class="leading-relaxed whitespace-nowrap">{{element[columna.name]}}</span>
                                    </span>
                                    <p *ngIf="columna.name==='acciones' && origin == 'contractual'">

                                        <button [matTooltip]="'Opciones Documentos'" mat-icon-button
                                            [matMenuTriggerFor]="summaryMenu">
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                            </mat-icon>
                                        </button>
                                        <mat-menu #summaryMenu="matMenu">
                                            <button [matTooltip]="'Agregar datos'"
                                                (click)="registrarDatosContratacion(element)" mat-menu-item>
                                                <mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                                                Agregar datos
                                            </button>
                                            <button [matTooltip]="'Desabilitar Contratista'"
                                                (click)="openConfirmationDelete(element)" [color]="'primary'"
                                                mat-menu-item>
                                                <mat-icon svgIcon="heroicons_solid:trash"></mat-icon>
                                                Desabilitar
                                            </button>
                                            <button [matTooltip]="'Agregar Modificacion'"
                                                (click)="modificacionContrato(element)" [color]="'primary'"
                                                mat-menu-item>
                                                <mat-icon svgIcon="heroicons_solid:plus-circle"></mat-icon>
                                                Agregar Modificacion
                                            </button>
                                            <button [matTooltip]="'Agregar Modificacion'"
                                                (click)="generarMinuta(element)" [color]="'primary'" mat-menu-item>
                                                <mat-icon svgIcon="mat_outline:picture_as_pdf"></mat-icon>
                                                Generar Minuta
                                            </button>
                                            <button [matTooltip]="'Agregar Modificacion'"
                                                (click)="generarEstudiosPrevios(element,'ESTUDIOS PREVIOS')"
                                                [color]="'primary'" mat-menu-item>
                                                <mat-icon svgIcon="mat_outline:picture_as_pdf"></mat-icon>
                                                Generar Estudios Previos
                                            </button>
                                            <button [matTooltip]="'Generar Modificacion'"
                                                (click)="generarEstudiosPrevios(element,'SOLICITUD COMITE')"
                                                mat-menu-item>
                                                <mat-icon svgIcon="mat_outline:picture_as_pdf"></mat-icon>
                                                Solicitud de comite
                                            </button>

                                        </mat-menu>
                                    </p>
                                    <p *ngIf="columna.name=='acciones' && origin == 'nomina'">

                                        <button [matTooltip]="'Opciones Documentos'" mat-icon-button
                                            [matMenuTriggerFor]="summaryMenu">
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                            </mat-icon>
                                        </button>
                                        <mat-menu #summaryMenu="matMenu">
                                            <button [matTooltip]="'Guardar datos'" (click)="registerPayment(element)"
                                                mat-menu-item>
                                                <mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                                                Agregar Pago
                                            </button>
                                            <button [matTooltip]="'Historial de pagos'"
                                                (click)="historicalPayment(element)" mat-menu-item>
                                                <mat-icon svgIcon="heroicons_solid:clipboard-list"></mat-icon>
                                                Historial de pagos
                                            </button>
                                        </mat-menu>
                                    </p>

                                </td>
                            </ng-container>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No hay datos para filtrar"{{input.value}}"</td>
                            </tr>

                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
                                (click)="selection.toggle(row); selectRowFull(row)">
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 30, 50, 100]"
                            aria-label="Select page of contractors"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-minuta-contrato [generateType]="generateType" (pdfGenerated)="pdfGenerated($event)"
        [contractContractors]="contractContractors"
        *ngIf="contractContractors != null && generatePdfMinute"></app-minuta-contrato>
    <app-generate-pdf [generateType]="generateType" (pdfGenerated)="pdfGenerated($event)"
        [contractContractors]="contractContractors"
        *ngIf="contractContractors != null && generatePdf"></app-generate-pdf>