.inputsearch{
    padding-left: 90px;
    
}
.hiring{
    margin-left: 30px !important;
}

    // .mat-form-field {
    //   font-size: 14px;
    //   width: 30%;
    //   margin-left: 30px;
    // }
  
    .mat-column-name,.mat-column-priority,.mat-column-item,.mat-column-imageUrl,.mat-column-id,.mat-column-Group,.mat-column-availableQty,.mat-column-finishedQty,.mat-column-salesOrder,.mat-column-operationsGroupId,.mat-column-requiredQty,.mat-column-prodOrder {
        justify-content: center !important;
    }
    mat-header-cell, mat-cell {
        justify-content: center !important;
      }
