<div id="pdfTable" #pdfTable class="container">
    <div id="htmlData">
        <div class="col-md-12" id="htmlData">
            <table class="table tableImage table-bordered">
                <tr class="alinear">
                    <!-- <td class="w-20" colspan="2" rowspan="3">
                        <img class="img-fluid" src="../../../../../assets/images/flags/logoItm.jpeg" alt="">
                    </td> -->
                    <td class="study" rowspan="3">ACTA DE SUPERVISIÓN CONTRATOS DE 
                        PRESTACIÓN DE SERVICIOS</td>
                    <td>Código</td>
                    <td>FBS 094</td>

                </tr>
                <tr class="alinear">
                    <td>Versión</td>
                    <td>09</td>
                </tr>
                <tr class="alinear">
                    <td>Fecha</td>
                    <td>06-09-2019</td>
                </tr>
            </table>
            <h1 class="h1">INSTITUTO TECNOLÓGICO METROPOLITANO</h1>
            <p>CONTRATO </p> <span>P - 365 DE 2022</span>
            <h1 class="h1">Respetado Rector,</h1>
            <h1 class="text">La Unidad Estratégica de Negocios del ITM, requiere celebrar un contrato de prestación
                de
                servicios en la gestión como Profesional
                para realizar el seguimiento, análisis y evaluación a la Inversión Pública correspondientes al
                Contrato
                Interadministrativo No.
                4600095169 de 2022, cuyo objeto es CONTRATO INTERADMINISTRATIVO PARA EL ACOMPAÑAMIENTO EN LOS
                PROCESOS
                DE GESTIÓN, IMPLEMENTACIÓN Y SEGUIMIENTO DE POLÍTICAS PÚBLICAS, PLANES Y PROGRAMAS EN LAS DIFERENTES
                DIMENSIONES DEL DESARROLLO A CARGO DEL DAP.
            </h1>
            <h1 class="h1">
                Este requerimiento se fundamenta en el siguiente estudio:
            </h1>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td colspan="7" class="desc">DESCRIPCIÓN DE LA NECESIDAD O PROBLEMA INSTITUCIONAL QUE SE
                        PRETENDE
                        SATISFACER</td>
                </tr>
                <tr class="alinear">
                    <th rowspan="2"><span>Centro de
                            costos o
                        </span>
                        <br>
                        <span> área de
                            negocios</span>
                    </th>
                </tr>

                <tr>
                    <td colspan="3">
                        <table class="table-bordered">
                            <tr>
                                <td>
                                    Código Área de Negocio
                                </td>
                                <td>Nombre Área de Negocio</td>
                                <td>Código Centro de Costos</td>
                                <td>Nombre Centro de Costos Nuevo</td>
                                <td>Misional o de Apoyo</td>
                                <td>Inversión o Funcionamiento</td>
                                <td>Proyecto</td>

                            </tr>
                            <tr>
                                <td>070201271525</td>
                                <td>55169/2022
                                    APOYO A LA
                                    GESTION DEL
                                    DAP</td>
                                <td>016231102123</td>
                                <td>CONVENIOS Y
                                    PROYECTOS
                                    INTERADMINIST
                                    RATIVOS</td>
                                <td>APOYO</td>
                                <td>FUNCIONAMIENTO</td>
                                <td>11- GASTOS PERSONALE</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="alinear">
                    <th rowspan="4"><span>Centro de costos o</span>
                        <br>
                        <span> área de
                            negocios</span>
                    </th>
                </tr>
                <tr class="alinear">
                    <td rowspan="4" colspan="4">
                        Definición de Necesidad Código Área de Negocio Nombre Área de Negocio Código Centro de
                        Costos Nombre Centro
                        de Costos Nuevo Misional o de Apoyo Inversión o Funcionamiento Proyecto 070201271525
                        95169/2022 APOYO A LA GESTION DEL DAP 1016231102123 CONVENIOS Y PROYECTOS INTERADMINIST
                        RATIVOS APOYO FUNCIONAMIENTO 211- GASTOS PERSONALES
                        El Plan de Desarrollo Institucional “ITM: A Otro Nivel”, 2020-2023, está orientado a
                        trascender de la innovación
                        competitiva a la que transforma, a partir de la articulación de la ciencia, la tecnología,
                        la innovación y la producción
                        artística, aportando desde su vocación tecnológica y compromiso social al logro de un modelo
                        sostenible para la
                        humanidad. El Plan de Desarrollo Institucional fue aprobado el día 29 de mayo de 2020 por El
                        Consejo Directivo
                        del Instituto Tecnológico Metropolitano Institución Universitaria, en ejercicio de sus
                        atribuciones legales y
                        estatutarias. La Unidad Estratégica de Negocios, observado la nueva propuesta rectoral, en
                        especial el Gran
                        Pilar No. 4, denominado “Modelo de gestión flexible, eficiente y sostenible” y con el fin de
                        dar cumplimiento al
                        objeto contractual fijado en el Contrato interadministrativo número 4600095169 cuyo objeto
                        es CONTRATO
                        INTERADMINISTRATIVO PARA EL ACOMPAÑAMIENTO EN LOS PROCESOS DE
                        GESTIÓN,IMPLEMENTACIÓN Y SEGUIMIENTO DE POLÍTICAS PÚBLICAS, PLANES Y PROGRAMAS EN
                        LAS DIFERENTES DIMENSIONES DEL DESARROLLO A CARGO DEL DAP., se solicita se autorice la
                        contratación del siguiente personal, para así poder realizar actividades de acompañamiento y
                        apoyo a la gestión,
                        para la implementación y seguimiento al Plan de Desarrollo Distrital, Sistema Distrital de
                        Planeación y los
                        diferentes instrumentos de planificación y evaluación.
                        <br>
                        La contratación se hace necesaria para satisfacer la necesidad antes descrita con el perfil
                        del contratista descrito
                        en la siguiente tabla:

                        <table class="table table-bordered">
                            <tr class="alinear">
                                <td colspan="4">PERFIL DEL CONTRATISTA REQUERIDO POR EL ITM</td>
                            </tr>
                            <tr class="alinear">
                                <td>REQUISITOS ACADÉMICOS </td>
                                <td>REQUISITOS DE EXPERIENCIA</td>
                            </tr>
                            <tr class="alinear">
                                <td>PROFESIONAL EN CUALQUIER AREA DEL
                                    CONOCIMIENTO</td>
                                <td>
                                    CON 1 AÑO DE EXPERIENCIA</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr class="alinear">
                </tr>
                <tr class="alinear">
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td colspan="7" class="desc">DESCRIPCIÓN DEL OBJETO A CONTRATAR</td>
                </tr>
                <tr class="alinear">
                    <th rowspan="2"><span>Centro de
                            costos o
                        </span>
                        <br>
                        <span> área de
                            negocios</span>
                    </th>
                </tr>

                <tr>
                    <td colspan="3">
                        Objeto: Prestación de servicios como contratista independiente, sin vínculo laboral por su
                        propia
                        cuenta y riesgo para realizar la gestion de Profesional para realizar el seguimiento,
                        análisis y
                        evaluación a la Inversión Pública en ejecución del Contrato Interadministrativo
                        No.4600095169 DE
                        2022, celebrado entre EL DISTRITO ESPECIAL DE CIENCIA TECNOLOGÍA E INNOVACIÓN DE
                        MEDELLÍN – DEPARTAMENTO ADMINISTRATIVO DE PLANEACIÓN y el ITM.
                        Alcance del objeto: Para el cumplimiento del objeto el contratista deberá desarrollar todas
                        las
                        actividades que sean necesarias para realizar la gestión como Profesional para realizar el
                        seguimiento,
                        análisis y evaluación a la Inversión Pública
                        Especificaciones Técnicas Para efectos del cumplimiento del contrato el contratista deberá
                        cumplir
                        con las siguientes actividades:
                        OBLIGACIONES GENERALES: 1) Presentar el informe de gestión de manera mensual al ITM de las
                        actividades realizadas con el visto bueno requerido. 2) Presentar el Informe final de las
                        actividades
                        realizadas durante la ejecución del contrato. 3) EL CONTRATISTA acepta que la propiedad
                        intelectual
                        sobre los estudios, documentos y en general los productos resultantes de la ejecución del
                        presente
                        contrato, quedará a cargo del Distrito Especial de Ciencia, Tecnología e Innovación de
                        Medellín. 4)
                        Concertar la presencialidad requerida. 5) Observar e implementar las directrices
                        institucionales sobre
                        la administración de documentos. 6) Cumplir a cabalidad con el objeto contractual, en la
                        forma y plazo
                        establecido en el mismo, y con las especificaciones técnicas señaladas en los estudios
                        previos. 7)
                        Cumplir con la prestación del servicio requerido en el sitio acordado con el supervisor del
                        contrato,
                        según las especificaciones técnicas indicadas en los estudios previos. 8) Acatar las
                        recomendaciones
                        del supervisor, como enlace directo entre el ITM y el Contratista. 9) Presentar las facturas
                        o cuentas
                        de cobro correspondientes a las actividades realizadas durante la ejecución del contrato.
                        10)
                        Abstenerse de presentar la factura o cuenta de cobro por encima del presupuesto disponible,
                        de
                        acuerdo con el valor del contrato. 11) Garantizar la prestación del servicio según las
                        condiciones
                        previamente estipuladas entre el contratista y el supervisor. 12) Informar por escrito al
                        supervisor, las
                        quejas, dudas, reclamos y demás inquietudes que puedan surgir en el desarrollo del objeto
                        contractual.
                        13) Atender los requerimientos que sean formulados por el supervisor y para efectos de
                        ejecutar en
                        debida forma el contrato. 14) Toda comunicación entre el ITM y el contratista deberá constar
                        por escrito
                        con copia al supervisor del contrato. 15) Informar por escrito y en forma oportuna al ITM,
                        los
                        impedimentos para el cumplimiento del objeto contractual, referente a las obligaciones
                        específicas. 16)
                        DEBER DE CONFIDENCIALIDAD": El Distrito Especial de Ciencia, Tecnología e Innovación de
                        Medellín es el propietario de la información y las bases de datos actualizadas, documentadas
                        y
                        depuradas que el contratista recolecte durante el desarrollo del objeto contractual, en tal
                        sentido le
                        asiste al contratista el deber de confidencialidad, comprometiéndose a hacer uso debido de
                        la
                        información que conoce y a retornarla alDistrito Especial de Ciencia, Tecnología e
                        Innovación de
                        Medellín al terminar su vínculo contractual. Así mismo no podrá utilizar información para
                        beneficio
                        propio o de terceros. El contratista se compromete a garantizar la reserva de la información
                        económica,
                        financiera y tributaria que se le suministre para el desarrollo del objeto contractual. 17)
                        Se obliga a
                        responder civil y penalmente por sus acciones y omisiones en la actuación contractual, en
                        los términos
                        de la Ley. 18. El contratista deberá dar cumplimiento al Decreto 1072 de 2015 que establece
                        el Sistema
                        de Gestión de Seguridad y Salud en el trabajo SG-SST en lo que aplique. 19. El contratista
                        deberá dar
                        cumplimiento a la norma NTC-ISO 14001 de 2015, que establece el Sistema de Gestión Ambiental
                        SGA en lo que aplique. 20) En ejecución de sus actividades el contratista debe disponer de
                        manera
                        correcta los residuos que su ejecución pueda generar. 21) El contratista deberá informar al
                        ITM, si
                        debe realizar sus actividades por fuera del lugar en el que normalmente las ejecuta, para
                        que la
                        Institución informe a la ARL dicha situación. 22) Desplazarse por sus propios medios al
                        lugar requerido
                        para realizar las actividades contractuales inherentes al objeto contractual, haciendo uso
                        de los
                        elementos de identificación establecidos por el proyecto.23)Deberá cumplir con las medidas
                        de
                        prevención y precaución dadas por el Gobierno Nacional, Departamental y Municipales en los
                        Decretos
                        sancionados en relación a la pandemia que se surte hoy en el mundo llamada COVID-19;
                        Adicionalmente y de conformidad con la normatividad expedida por el Gobierno Nacional en lo
                        relativo
                        ESTUDIO PREVIO
                        CONTRATACIÓN DIRECTA
                        PRESTACIÓN DE SERVICIOS
                        Código FBS 057
                        Versión 09
                        Fecha 06-09-2019
                        Medellín- Colombia
                        al Estado de Emergencia Económica, Social y Ecológica, deberá, debido a la naturaleza de sus
                        actividades, objeto contractual y desarrollo en territorio de las mismas, adoptar todas las
                        medidas
                        personales de prevención, precaución, higiene y distanciamiento social, en aras de evitar el
                        posible
                        contagio o propagación del virus, para lo cual deberá hacer uso de los elementos de
                        protección
                        personal, en aras de mantener las condiciones de salubridad necesarias para la prestación
                        del servicio
                        presencial. así mismo se acoge a lo establecido por el ITM para el desarrollo de su
                        actividad laboral en
                        casa cuando haya lugar a ésta. 24) Las demás inherentes al objeto del contrato.
                        OBLIGACIONES ESPECIFICAS:1.Realizar seguimiento a la inversión pública y su evaluación
                        respectiva a través de la identificación del cumplimiento de objetivos trazados y su grado
                        de
                        ejecución.2.Generar alertas y recomendaciones de la inversión pública una vez se haya
                        identificado
                        los objetivos y su grado de ejecución.3.Realizar informes que consoliden la información
                        recolectada
                        del seguimiento mensual y la evaluación trimestral realizada a la inversión
                        pública.4.Recolectar
                        información asociada a los procesos presupuestales que permita elaborar el POAI de la
                        respectiva
                        vigencia y distribuirlo a las dependencias de acuerdo con los criterios establecidos e
                        identificados.5.Sugerir a las diferentes dependencias la construcción de los mecanismos de
                        planificación que permitan un oportuno seguimiento y priorización a la inversión
                        pública.6.Elaborar
                        respuestas y requerimientos, tanto de entidades internas como externas, que requieran
                        información
                        respecto al seguimiento de la inversión pública y los proyectos del Plan de Desarrollo 2020
                        –
                        2023.ADICIONALMENTE debera cumplir con los siguientes productos:1.Formato de seguimiento a
                        proyectos de inversión.2.informe de seguimiento a los proyectos de inversión.3.informes de
                        análisis,
                        presentación de la evaluación realizada.4.Formatos de presupuesto, presentaciones a las
                        dependencias, POAI elaborado.5.Presentación de los resultados del análisis para las
                        reuniones
                        estratégicas.6.Informe que contenga reporte de respuestas elaboradas.7
                    </td>
                </tr>
                <tr>
                    <th rowspan="1"><span>Tipo de Contrato</span>
                    </th>

                    <td rowspan="1">Prestación de servicios profesionales y de apoyo a la gestión.
                    </td>
                </tr>
                <tr>
                    <th rowspan="1"><span>Plazo de Ejecución
                        </span>
                    </th>
                    <td rowspan="1">03 MESES y 17 DIAS sin exceder la vigencia 2022
                    </td>
                </tr>
                <tr>
                    <th rowspan="1"><span>Duración del Contrato
                            Interadministrativo
                            número 4600095169 de
                            2022
                        </span>
                    </th>
                    <td rowspan="1" class="alinear">Cuatro (4) meses, sin superar la vigencia 2022.
                    </td>
                </tr>
                <tr>
                    <th rowspan="1" class="alinear"><span>Forma de pago
                        </span>
                    </th>
                    <td rowspan="1">Se cancelará en pagos parciales correspondientes a la entrega previa del informe
                        y/o
                        producto. El pago
                        se surtirá con base en los procedimientos internos, establecidos por la dependencia
                        encargada, previo
                        recibo de satisfacción expedido por el supervisor, previa presentación de la factura o
                        cuenta de cobro,
                        adjuntando el comprobante del pago de aportes al Sistema de Seguridad Social. PARÁGRAFO: En
                        el
                        evento en que el contratista no cumpla con las actividades y/o productos correspondientes al
                        mes, el
                        Instituto no cancelará los honorarios de dicho mes; una vez se cuente con la totalidad de
                        las actividades
                        cumplidas, dicho pago será efectuado en la siguiente fecha de pago programada para el
                        proyecto.
                    </td>
                </tr>
                <tr class="alinear">
                    <th rowspan="4"><span>Supervisor</span>
                    </th>
                </tr>

                <tr class="alinear">
                    <td rowspan="4" colspan="4">
                        Jefe Oficina– Unidad Estratégica de Negocios
                    </td>
                </tr>
                <tr class="alinear">
                </tr>
                <tr class="alinear">
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td colspan="7" class="desc">FUNDAMENTO JURÍDICO</td>
                </tr>
                <tr class="alinear">
                    <td rowspan="4" colspan="4">
                        Con fundamento en el artículo 2, numeral 4, literal h) de la ley 1150 de 2007, reglamentado
                        por el artículo 2.2.1.2.1.4.9 del Decreto
                        1082 de 2015.
                        En efecto, el precitado artículo 2.2.1.2.1.4.9 establece lo siguiente:
                        “Artículo 2.2.1.2.1.4.9 Contratos de prestación de servicios profesionales y de apoyo al a
                        gestión, o para la ejecución de trabajos
                        artísticos que solo pueden encomendarse a determinadas personas naturales. Las Entidades
                        Estatales pueden contratar bajo la
                        modalidad de contratación directa la prestación de servicios profesionales y de apoyo a la
                        gestión con la persona natural o jurídica
                        que esté en capacidad de ejecutar el objeto del contrato, siempre y cuando la Entidad
                        Estatal verifique la idoneidad o experiencia
                        requerida y relacionada con el área de que se trate. En este caso, no es necesario que la
                        Entidad Estatal haya obtenido
                        previamente varias ofertas, de lo cual el ordenador del gasto debe dejar constancia escrita.
                        Los servicios profesionales y de apoyo a la gestión corresponden a aquellos de naturaleza
                        intelectual diferentes a los de consultoría
                        que se derivan del cumplimiento de las funciones de la Entidad Estatal; así como los
                        relacionados con actividades operativas,
                        logísticas, o asistenciales La Entidad Estatal, para la contratación de trabajos artísticos
                        que solamente puedan encomendarse a determinadas personas
                        naturales, debe justificar esta situación en los estudios y documentos previos.”
                        El contrato de prestación de servicios a que se refiere la norma se celebra por el Estado en
                        aquellos eventos en que la función de
                        la administración no puede ser suministrada por personas vinculadas con la entidad oficial
                        contratante o cuando requiere de
                        conocimientos especializados.
                        En el desarrollo de estas actividades se incluye también el apoyo a la tarea de generar y
                        dinamizar procesos con el fin de obtener
                        los productos y servicios para satisfacer las necesidades del ITM.
                        Con motivo de la expedición de la Sentencia de Unificación del Consejo de Estado:
                        SUJ-025-CE-S2-2021, se deberá tener en
                        cuenta lo siguiente en los contratos de prestación de servicios:
                        1. En el marco del numeral 3º del artículo 32º de la Ley 80 de 1993, los contratos de
                        prestación de servicios no generan una
                        relación laboral ni el pago de prestaciones sociales. En todo caso, en los términos de los
                        principios de transparencia, planeación
                        y legalidad, en la estructuración de los procesos de contratación de prestación de
                        servicios, se deberán adoptar las medidas
                        necesarias que eviten la materialización de “relaciones laborales encubiertas”, en los
                        términos del Consejo de Estado y de la Corte
                        Constitucional. Es por eso que se invita a la adopción y ejecución de buenas prácticas
                        administrativas que eviten la transformación
                        de la naturaleza jurídica de la relación exclusivamente contractual que se tiene con los
                        contratistas.
                        2. Tal y como se estableció en la Directiva Presidencial No. 7 del 28 de octubre de 2021, el
                        límite temporal establecido en la
                        Sentencia de Unificación no prohíbe la celebración de contratos de prestación de servicios
                        de manera sucesiva, antes del término
                        de treinta (30) días hábiles, siempre y cuando se cumpla a cabalidad con las normas
                        jurídicas pertinentes. Lo anterior, debido a
                        que dicho término fue establecido por el Consejo de Estado con el fin de tener un marco de
                        referencia para el cómputo de una
                        eventual caducidad en el ejercicio de las acciones judiciales y de la prescripción de los
                        derechos reclamados, en aquellos eventos
                        donde se determine por parte del juez, la existencia de una relación laboral, conforme al
                        principio de la primacía de la realidad
                        sobre las formas. Por eso se reitera, la clave del manejo adecuado de los contratos de
                        prestación de servicios es que tanto el
                        ordenador del gasto como el supervisor del contrato, no incurran en prácticas que configuren
                        una subordinación de carácter laboral.
                        Conforme lo anterior, en los documentos previos del contrato, incluido el estudio previo,
                        deberán contenerse de manera detallada,
                        el análisis de la necesidad, justificado desde la falta de personal de plata para satisfacer
                        la necesidad o la especialidad del servicio,
                        según corresponda, garantizando en todo caso, que dicho vínculo constituya una relación
                        autónoma e independiente y que no se
                        genere una subordinación o dependencia.
                        3. De conformidad como se estableció en la Directiva Presidencial citada en el numeral
                        anterior, el plazo de los contratos de
                        prestación de servicios debe ser el estrictamente necesario para la ejecución de su objeto y
                        para el desarrollo de las actividades
                        previstas, en los términos de la normativa aplicable.
                        4. En ningún caso, la Sentencia de Unificación restringió el derecho al ejercicio autónomo y
                        libre de la profesión u oficio de los
                        contratistas. Conforme a lo anterior, no se puede limitar la concurrencia de vínculos
                        contractuales.
                    </td>
                </tr>
                <tr class="alinear">
                </tr>
                <tr class="alinear">
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td colspan="7" class="desc">ANÁLISIS ECONÓMICO DEL VALOR ESTIMADO DEL CONTRATO</td>
                </tr>
                <tr class="alinear">
                    <td rowspan="4" colspan="4">
                        Análisis de precios de mercado: El presupuesto oficial de la contratación que se pretende
                        adelantar se hizo consultando el valor
                        de los contratos celebrados por el ITM en vigencias anteriores para este tipo de
                        profesionales o de auxiliares.
                        Estudio técnico: El contratista deberá cumplir con las especificaciones técnicas
                        establecidas en este documento, en la minuta del
                        contrato que se pretende celebrar.
                        El valor estimado para esta Contratación es de <span>Veintiún millones ochocientos quince
                            mil cuatrocientos veintidós pesos m.l
                            ($ 21815422).
                        </span>
                    </td>
                </tr>
                <tr class="alinear">
                </tr>
                <tr class="alinear">
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td colspan="7" class="desc">CRITERIOS PARA SELECCIONAR LA OFERTA MÁS FAVORABLE</td>
                </tr>
                <tr>
                    <td class="alinear">Medellín- Colombia</td>
                </tr>
                <tr class="alinear">
                    <td rowspan="4" colspan="4">
                        Considerando el servicio profesional y de apoyo a la gestión que se requiere y teniendo en
                        cuenta lo ordenado por la Ley 1150 de
                        2007 y el Decreto 1082 de 2015 lo importante a tener en cuenta para seleccionar la oferta
                        más favorable y conveniente para la
                        entidad en este tipo de contratos, es la idoneidad, conocimiento y experiencia que acredite
                        quien asuma la ejecución del objeto
                        contractual, que garantice a la entidad la satisfacción de la necesidad planteada y por
                        consiguiente el cumplimiento del objeto.
                        Deberá acreditarse por el contratista que cumple con los requisitos académicos y de
                        experiencia requeridos para la satisfacción
                        de la necesidad.
                        <br>
                        <span class="just">JUSTIFICACIÓN DE LA CONTRATACIÓN CON “DANIELA DIAZ CALLE”</span>
                        <br>
                        La contratación se realizará con “DANIELA DIAZ CALLE con cédula de ciudadanía 1152690770”,
                        quien cumple con los requisitos
                        académicos y/o de experiencia señalados en el perfil para satisfacer la necesidad requerida
                        por la institución.
                        “DANIELA DIAZ CALLE” cumple con el perfil requerido el cual es PROFESIONAL EN CUALQUIER AREA
                        DEL CONOCIMIENTO
                        CON 1 AÑO DE EXPERIENCIA
                        Se anexan certificados académicos y/o de experiencia que permiten acreditar la idoneidad del
                        contratista para suscribir el contrato
                        con el Instituto Tecnológico Metropolitano.
                    </td>
                </tr>
                <tr class="alinear">
                </tr>
                <tr class="alinear">
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td colspan="7" class="desc">ANALISIS DE RIESGO Y FORMA DE MITIGARLO</td>
                </tr>
                <tr>
                    <td class="alinear">Medellín- Colombia</td>
                </tr>
                <tr class="alinear">
                    <td rowspan="4" colspan="4">
                        La política para el manejo del riesgo contractual del Estado para los diferentes procesos,
                        consagra como principio rector, que estos
                        corresponden a las Entidades Estatales, las cuales deben asumir sus propios riesgos por su
                        carácter público y el objeto social
                        para el que fueron creadas o autorizadas y, a los contratistas, aquellos riesgos
                        determinados por el objeto que persiguen en el
                        cumplimiento de su actividad; siendo entonces la asignación adecuada una herramienta que
                        minimiza el costo de la mitigación del
                        riesgo, logrando asignar cada riesgo a la parte que mejor lo controla:
                        <br>
                        <span class="just">
                            • Riesgo Previsible: Son los posibles hechos o circunstancias que por la naturaleza de
                            la actividad a ejecutar es factible su
                            ocurrencia.
                        </span>
                        <br>
                        <span class="just">
                            • Riesgo Imprevisible: Son aquellos hechos o circunstancias donde no es factible su
                            previsión, es decir el acontecimiento de
                            su ocurrencia, tales como desastres naturales, actos terroristas, guerra o eventos que
                            alteren el orden público.
                        </span>
                        <br>
                        A continuación, se establecen, los riesgos que deben asumir las partes en el presente
                        proceso:
                        <table class="table table-bordered">
                            <tr class="alinear">
                                <th colspan="1" rowspan="2">CLASE</th>
                                <th colspan="3">TIPIFICACION DEL RIESGO </th>
                                <th colspan="2">ASIGNACION DEL
                                    RIESGO </th>
                            </tr>

                            <tr class="alinear">
                                <td>No.</td>
                                <td>DESCRIPCION </td>
                                <td>OBSERVACIONES</td>
                                <td>ITM</td>
                                <td>PROPONENTE
                                    Y/O
                                    CONTRATISTA</td>
                            </tr>
                            <tr class="alinear">
                                <th rowspan="5"><span>Administrativos,
                                        legales,
                                        documentales
                                        y/o regulatorios</span>
                                </th>
                                <td>1</td>
                                <td>No firma del contrato por
                                    parte del proponente y/o
                                    CONTRATISTA. </td>
                                <td>En caso de que el CONTRATISTA se rehusó a
                                    firmarlo, no estuvo de acuerdo con el
                                    clausulado. Riesgo que asume el
                                    CONTRATISTA.
                                </td>
                                <td></td>
                                <td>X</td>
                            </tr>
                            <tr class="alinear">
                                <td>2</td>
                                <td>Incumplimiento del contrato
                                    por parte del
                                    CONTRATISTA.</td>
                                <td>Hace referencia a cualquier clase de
                                    incumplimiento por parte del CONTRATISTA,
                                    antes, durante y posterior a la orden de
                                    iniciación del contrato. Riesgo que asume el
                                    CONTRATISTA
                                </td>
                                <td></td>
                                <td>X</td>
                            </tr>
                            <tr class="alinear">
                                <td>3</td>
                                <td>Demora en la radicación
                                    oportuna por parte del
                                    CONTRATISTA de las
                                    facturas (correctamente
                                    diligenciadas y firmadas) y/o cuentas de los gastos
                                    reembolsables.</td>
                                <td>Riesgo que asume el CONTRATISTA, teniendo
                                    en cuenta que le corresponde a éste tener
                                    planes de contingencia y/o calidad para que las
                                    facturas se elaboren correctamente y radiquen
                                    oportunamente de acuerdo con lo manifestado
                                    en el contrato.
                                <td></td>
                                <td>X</td>
                            </tr>
                            <tr class="alinear">
                                <td>4</td>
                                <td>Demora en la legalización
                                    del contrato por parte del
                                    CONTRATISTA.</td>
                                <td>Causada por parte del CONTRATISTA, por no
                                    radicar completa, correcta y oportunamente la
                                    documentación de legalización, según el
                                    instructivo y/o lo manifestado en el contrato.
                                    Riesgo que asume el CONTRATISTA
                                <td></td>
                                <td>X</td>
                            </tr>
                            <tr class="alinear">
                                <td>5</td>
                                <td>Errores involuntarios que
                                    hayan quedado en la oferta
                                    presentada al ITM
                                </td>
                                <td>ace referencia a cualquier error que se pueda
                                    presentar en la oferta presentada al ITM
                                <td></td>
                                <td>X</td>
                            </tr>
                        </table>
                        <br>
                        <span>
                            CÓMO MINIMIZAR EL RIESGO:
                        </span>
                        <br>
                        <span class="alinear">
                            • Estableciendo una forma de pago de tal manera que sólo se efectúe el mismo,
                            una vez se
                            produzca la entrega.
                        </span>
                        <br>
                        <span>
                            a entera
                            satisfacción del bien o servici
                        </span>
                        <br>
                        <span>
                            • Consignando las cláusulas de multas y penal pecuniaria en el contrato.
                        </span>
                        <br>
                        <span>
                            • Estricto y permanente acompañamiento y seguimiento por parte de la Supervisión
                            asignada.
                        </span>
                    </td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <td colspan="7" class="desc">ANÁLISIS QUE SUSTENTA LA EXIGENCIA DE GARANTÍAS </td>
                </tr>
                <tr class="alinear">
                    <td rowspan="4" colspan="4">
                        De conformidad con el artículo 7 de la ley 1150 de 2007, las garantías no serán obligatorias
                        en los contratos cuyo valor sea inferior
                        al 10% de la menor cuantía, en consecuencia, el ITM se abstendrá de exigir garantías, dada
                        la naturaleza del objeto, la forma de
                        pago y las condiciones establecidas en el análisis de riesgos para minimizar estos.
                        No obstante, la anterior determinación, de acuerdo con lo establecido en los artículos 7 a
                        17 de la Ley 1480 de 2011, en asocio
                        con las determinaciones de los artículos 932 y 958 del Código de Comercio, el Contratista
                        tiene la obligación de garantizar la
                        calidad del bien o servicio objeto del contrato.
                    </td>
                </tr>
                <tr class="alinear">
                </tr>
                <tr class="alinear">
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <th colspan="2" class="desc">RESPONSABLE</th>
                </tr>
                <tr class="alinear">
                    <td>
                        <span>Nombre: OLGA LUCIA GOMEZ HOYOS</span>
                        <br>
                        <span>Cargo: Jefe Oficina – Unidad Estratégica de Negocios</span>
                    </td>
                    <td>
                        Firma: <img src="" alt="">
                    </td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr class="alinear">
                    <th class="desc">ELABORADO POR</th>
                    <th class="desc">REVISADO POR</th>
                    <th class="desc">APROBADO POR</th>

                </tr>
                <tr class="alinear">
                    <td>
                        <span> <img src="" alt=""></span>
                        <br>
                        <span>________________________________________</span>
                        <br>
                        <span>
                            Wilson Heli Rosero Villa – Contratista Profesional
                            Unidad Estratégica de Negocios</span>
                    </td>
                    <td>
                        <span> <img src="" alt=""></span>
                        <br>
                        <span>________________________________________</span>
                        <br>
                        <span>
                            einer Daniel Chica- Apoyo Jurídico</span>
                    </td>
                    <td>
                        <span> <img src="" alt=""></span>
                        <br>
                        <span>________________________________________</span>
                        <br>
                        <span>
                            Olga Lucia Gómez Hoyos – Jefe de Oficina Unidad Estratégica
                            de Negocios</span>
                    </td>
                </tr>
            </table>

        </div>
        <div style="margin-bottom: 20px;" class="col-md-4 text-right">
            <button class="btn btn-success btn-block">Download PDF</button>
        </div>
    </div>
</div>