<div class="flex flex-col max-w-140 md:min-w-120 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Agregar Novedad</div>
        <button
            mat-icon-button
            (click)="cerrar()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- <p style="text-align: center; font-size: medium; text-decoration-style: dotted; text-decoration-color: black;">Cargar Archivo</p> -->
    <div class="modal-body pt-6">
        <form [formGroup]="formFile" class="example-form">
            <div class="folder">
                <mat-form-field  class="hiringD" appearance="fill">
                    <mat-label>NOVEDAD</mat-label>
                    <input type="text" placeholder="Digite La novedad" aria-label="Motivo Novedad" matInput
                        [formControlName]="'tipoNovedad'" >
                </mat-form-field>
                <mat-form-field  class="hiringD" appearance="fill">
                    <mat-label>CÓDIGO</mat-label>
                    <input type="text" placeholder="Digite código maximo 5 letras" aria-label="Motivo Novedad" [maxLength]="5" matInput
                        [formControlName]="'tipoNovedad'" >
                </mat-form-field>
            </div>

        </form>      
    </div>

</div>
  <mat-dialog-actions align="end" class="pt-8">
    <button mat-flat-button type="button" [mat-dialog-close]="false" [color]="'warn'">Cancelar</button>
    <button mat-flat-button  [color]="'primary'" type="submit" [disabled]="disableButton" *ngIf="!formFile.disabled"  (click)="AddDetailFile()">Enviar</button>
  </mat-dialog-actions>
