.mat-form-field{
    margin-left : 5px;
}

.hiringD{
    padding-left: 8px;
    margin-right: 8px;
    width: 750PX !important;
    max-width: 800px !important;
}
.folder{
    margin-left: 5px;
    text-align: center;
}
textarea{
    width: 100% !important;
}
.consecutive{
    margin-left: 255px;
}