<div class="flex-col max-w-350 md:min-w-120 -m-6">
    <div class="flex-col max-w-240 md:min-w-160">
        <!-- Header -->
        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Registro Elemento</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="option">
            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4 text-red-500" *ngIf="showAlert" [appearance]="'fill'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
        </div>
        <mat-dialog-content style="margin: 0px; padding: 0px;">
            <!-- Card form -->
            <form class="flex flex-col flex-0  w-full p-6 sm:p-4 space-y-2 overflow-y-auto"
                [formGroup]="elementForm" #elementNgForm="ngForm">
                <mat-form-field class="container" appearance="fill">
                    <mat-label>Consecutivo</mat-label>
                    <input matInput id="consecutivo" type="text" formControlName="consecutivo" autocomplete="off"
                        matInput placeholder="Consecutivo">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                    <mat-error *ngIf="elementForm.get('consecutivo').hasError('required')">
                        El Campo Consecutivo es requerido
                    </mat-error>
                </mat-form-field>
                <div *ngIf="showDate" class="folder">
                    <mat-form-field [hidden]="showDate" appearance="fill">
                        <mat-label>Modificacion</mat-label>
                        <mat-select [formControlName]="'modificacion'" [(ngModel)]="elementselectId"
                            (selectionChange)="selectmodificacion()" name="modificacion">
                            <mat-option *ngFor="let modificacion of modificaciones" [value]="modificacion.id">
                                {{modificacion.minuteTypeDescription}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                        <mat-error *ngIf="elementForm.get('modificacion').hasError('required')">
                            El Campo arl es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field [hidden]="showDate" appearance="fill">
                        <mat-label>Fecha modificacion</mat-label>
                        <mat-select [formControlName]="'fechamodificacion'" name="modificacion">
                            <mat-option *ngFor="let modificacion of dateAdiction$ | async"
                                [value]="modificacion.fechaFinalizacion">
                                {{modificacion.fechaFinalizacion | date}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                        <mat-error *ngIf="elementForm.get('modificacion').hasError('required')">
                            El Campo arl es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="elementName" appearance="fill">
                        <mat-label>Nombre del Elemento</mat-label>
                        <input type="text" placeholder="Seleccione o Digite" aria-label="Nombre del Elemento" matInput
                            [formControlName]="'nombreElemento'" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="elementForm.get('modificacion').hasError('required')">
                            El Campo nombre elemento es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo Elemento</mat-label>
                        <mat-select [formControlName]="'tipoElemento'" (selectionChange)="changeTypeElement($event)"
                            name="tipoElemento">
                            <mat-option *ngFor="let tipo of elementTypes" [value]="tipo.id">
                                {{tipo.elementTypeDescription}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>CPC</mat-label>
                        <mat-select [formControlName]="'cpc'" (selectionChange)="changecpcType($event)" name="tipoCPC">
                            <mat-option *ngFor="let tipo of cpcType" [value]="tipo.id">
                                {{tipo.cpcNumber}}
                            </mat-option>
                        </mat-select>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre Cpc</mat-label>
                        <input type="mail" id="nombreCpc" formControlName="nombreCpc" autocomplete="off" matInput
                            placeholder="Nombre Cpc">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="folder">
                    <mat-form-field *ngIf="typeContractor" appearance="fill">
                        <mat-label>Cantidad Contratista</mat-label>
                        <input type="number" id="contractorCant" formControlName="contractorCant"
                            (change)="calculate('valor')" autocomplete="off" matInput
                            placeholder="Cantidad Contratista">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:duplicate'"></mat-icon>
                        <mat-error *ngIf="elementForm.get('contractorCant').hasError('required')">
                            El Campo Cantidad Contratista es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Cantidad Días</mat-label>
                        <input type="number" id="cantDay" formControlName="cantDay" (change)="calculate('dias')"
                            (change)="preventExceedingMax($event)" autocomplete="off" matInput
                            placeholder="Cantidad Días">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                        <mat-error *ngIf="elementForm.get('cantDay').hasError('required')">
                            El Campo Cantidad Días es requerido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Valor Unidad</mat-label>
                        <span matPrefix>$</span>
                        <input type="text" id="unitValue" [formControlName]="'unitValue'" (change)="calculate('valor')"
                            autocomplete="off" matInput placeholder="Valor Unidad">
                        <mat-error *ngIf="elementForm.get('unitValue').hasError('required')">
                            El Campo Valor Unidad es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="folder">
                    <mat-form-field *ngIf="typeContractor" disable appearance="fill">
                        <mat-label>Valor Por dia contratistas</mat-label>
                        <span matPrefix>$</span>
                        <input type="text" formControlName="unitValueDay" autocomplete="off" matInput
                            placeholder="Valor por Día">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Valor Total</mat-label>
                        <span matPrefix>$</span>
                        <input type="text" (change)="onChangeTotalValue($event)" id="totalValue"
                            formControlName="totalValue" autocomplete="off" matInput placeholder="Valor Total">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'">
                        </mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Recursos </mat-label>
                        <span matPrefix>$</span>
                        <input type="text" id="recursos" formControlName="recursos" (change)="calculate('valor')"
                            autocomplete="off" matInput placeholder="Recuros">
                    </mat-form-field>
                </div>
                <div class="folder">
                    <mat-form-field [hidden]="totalCalculate" appearance="fill">
                        <mat-label>Valor por dia contratista</mat-label>
                        <span matPrefix>$</span>
                        <input type="text" id="valorDiaContratista" formControlName="valordiaContratista"
                            autocomplete="off" matInput placeholder="valor Dia Contratista">
                    </mat-form-field>
                    <mat-form-field [hidden]="totalCalculate" appearance="fill">
                        <mat-label>Total Exacto</mat-label>
                        <span matPrefix>$</span>
                        <input type="text" id="totalExacto" formControlName="totalExacto" autocomplete="off" matInput
                            placeholder="Valor Exacto">
                    </mat-form-field>
                </div>
                <div *ngIf="typeContractor" class="folder">
                    <mat-form-field class="hiringElement" appearance="fill">
                        <mat-label>Obligaciones Especificas</mat-label>
                        <textarea noLineBreaks type="text" class="example-full-width" id="obligacionesEspecificas"
                            formControlName="obligacionesEspecificas" autocomplete="off" matInput
                            placeholder="Obligaciones Especificas"></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="typeContractor" class="folder">
                    <mat-form-field class="hiringElement" appearance="fill">
                        <mat-label>Obligaciones Generales</mat-label>
                        <textarea type="text" class="example-full-width" id="obligacionesGenerales"
                            formControlName="obligacionesGenerales" autocomplete="off" matInput
                            placeholder="Obligaciones Generales"></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="typeContractor" class="folder">
                    <mat-form-field class="hiringElement" appearance="fill">
                        <mat-label>Objeto</mat-label>
                        <textarea type="text" class="example-full-width" id="objetoElemento"
                            formControlName="objetoElemento" autocomplete="off" matInput
                            placeholder="Objeto"></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="typeContractor" class="folder">
                    <mat-form-field class="hiringElement" appearance="fill">
                        <mat-label>Perfil Academico requerido</mat-label>
                        <textarea type="text" class="example-full-width" id="academicProfile"
                            formControlName="academicProfile" autocomplete="off" matInput
                            placeholder="Perfil Academico requerido"></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="typeContractor" class="folder">
                    <mat-form-field class="hiringElement" appearance="fill">
                        <mat-label>Perfil Profesional requerido</mat-label>
                        <textarea type="text" class="example-full-width" id="profesionalProfile"
                            formControlName="profesionalProfile" autocomplete="off" matInput
                            placeholder="Perfil Profesional requerido"></textarea>
                    </mat-form-field>
                </div>
                <mat-dialog-actions align="end">
                    <button mat-flat-button type="button" class="m-2" [color]="'warn'"
                        [mat-dialog-close]="false">Cancelar</button>
                    <button class="m-2 bg-green-600" mat-flat-button type="button"
                        (click)="calculate('valor')">Calcular</button>
                    <button class="m-2" mat-flat-button [color]="'primary'" [disabled]="elementForm.disabled"
                        (click)="addElement()">
                        <span *ngIf="!elementForm.disabled">
                            {{btnOpcion}}
                        </span>
                        <mat-progress-spinner *ngIf="elementForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </mat-dialog-actions>
            </form>

        </mat-dialog-content>
    </div>
</div>