<div class="flex-col max-w-140 md:min-w-100 -m-6">
    <div class="flex-col max-w-140 md:min-w-100 md:min-h-60">

        <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
            <div class="text-lg font-medium">Registrar Componente</div>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="option">
            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4 text-red-500" *ngIf="showAlert" [appearance]="'fill'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
        </div>
        <mat-dialog-content style="margin: 0px; padding: 0px;">
            <form class="example-form" [formGroup]="componentForm">

                <div class="folderField">
                    <mat-form-field class="contractField">
                        <mat-label>Nombre Componente</mat-label>
                        <input matInput id="componentName" formControlName="componentName" autocomplete="off" matInput
                            placeholder="Nombre Componente" required>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                        <mat-error *ngIf="componentForm.get('componentName').hasError('required')">
                            El nombre del componente es requerido.
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions align="end" class="mr-2">

            <button mat-flat-button color="warn" class="m-2" type="button"
                [mat-dialog-close]="false">Cancelar</button>
            <button mat-flat-button [color]="'primary'" [disabled]="!permission || componentForm.disabled"
                (click)="addComponent()"> <span>{{ update ? 'Actualizar' : 'Guardar'}}</span>
                <mat-progress-spinner *ngIf="componentForm.disabled" [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner></button>
        </mat-dialog-actions>
    </div>
</div>