<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Registrar Contrato</div>
        <button
            mat-icon-button
            (click)="cerrar()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="option">
        <!-- Alert -->
            <fuse-alert
            class="mt-8 -mb-4 text-red-500"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"

            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>
    </div>
    <form [formGroup]="formProject" class="example-form">
        <div class="folder pt-8">
            <mat-form-field class="hiring" appearance="outline">
                <mat-label>Nombre Empresa</mat-label>
                <input type="text"  id="companyName" formControlName="companyName" autocomplete="off" matInput placeholder="Nombre empresa" >
                <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                <mat-error *ngIf="formProject.get('companyName').hasError('required')">
                    El Campo empresa es requerido
                </mat-error>
            </mat-form-field>

            <mat-form-field class="hiring" appearance="outline">
                <mat-label>Nombre projecto</mat-label>
                <input type="text"  id="projectName" formControlName="projectName" autocomplete="off" matInput placeholder="Nombre projecto" >
                <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:annotation'"></mat-icon>
                <mat-error *ngIf="formProject.get('projectName').hasError('required')">
                    El Campo Proyecto es requerido
                </mat-error>
            </mat-form-field>
        </div>
        <div class="folder pt-8">
            <mat-form-field class="hiring" appearance="outline">
                <mat-label >Estado contrato</mat-label>
                <mat-select [formControlName]="'ejecucion'" name="ejecucion">
                    <mat-option *ngFor="let exe of ejecucion" [value]="exe.value">
                        {{exe.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:bookmark-alt'"></mat-icon>
                <mat-error *ngIf="formProject.get('ejecucion').hasError('required')">
                    El Campo Entidad bancaria es requerido
                </mat-error>
            </mat-form-field> 
        </div>
        <br>
        <div class="folder">
            <mat-form-field class="hiringD" appearance="outline">
                <mat-label>Descripcion</mat-label>
                <textarea type="text"  class="example-full-width" id="description" formControlName="description" autocomplete="off" matInput placeholder="Descripcion"></textarea>
                <mat-error *ngIf="formProject.get('description').hasError('required')">
                    El Campo Descripcion es requerido
                </mat-error>
            </mat-form-field>
        </div>
      
       
        
  </form>

</div>
  <mat-dialog-actions align="end">
    <button mat-stroked-button type="button" [mat-dialog-close]="true" class="text-warn-500">Cancelar</button>
    <button mat-flat-button [color]="'primary'" color="primary" [mat-dialog-close]="true" *ngIf="editData" (click)="editProjectFolder()" >Editar</button>
    <button mat-flat-button [color]="'primary'" type="submit" [mat-dialog-close]="true" [disabled]="formProject .disabled" *ngIf="!formProject.disabled && !editData" (click)="addProjectFolder()">Aceptar</button>
  </mat-dialog-actions>
