<div class="flex-col max-w-220 md:min-w-120 -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Rgistro datos contratista</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <mat-dialog-content style="margin: 0px; padding: 0px;">
        <div class="option">
            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4 text-red-500" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
        </div>
        <br>
        <!-- <h1>Nombre Contratista</h1> -->
        <form [formGroup]="formContractorPayment" class="example-form overflow-y-auto">
            <div>
                <mat-form-field class="p-6 fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <textarea
                        matInput
                        [formControlName]="'contractorName'"
                        [rows]="1"
                        cdkTextareaAutosize
                        [cdkAutosizeMinRows]="1">
                    </textarea>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user'"></mat-icon>
                </mat-form-field>
            </div>
            <br>
            <div class="nationality">
                <mat-form-field class="hiring" appearance="outline">
                    <mat-label>Cantidad A pagar</mat-label>
                    <input type="number" id="compromiso" formControlName="paymentcant" autocomplete="off" matInput
                        placeholder="Compromiso">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    <mat-error *ngIf="formContractorPayment.get('paymentcant').hasError('required')">
                        El Campo pago es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="hiring" appearance="outline">
                    <mat-label>Total Se debe</mat-label>
                    <input type="number" id="compromiso" formControlName="paymentcant" autocomplete="off" matInput
                        placeholder="Compromiso">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    <mat-error *ngIf="formContractorPayment.get('paymentcant').hasError('required')">
                        El Campo cedula es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="hiring" appearance="outline">
                    <mat-label>Valor Contrato</mat-label>
                    <input type="number" id="compromiso" formControlName="paymentcant" autocomplete="off" matInput
                        placeholder="Compromiso">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    <mat-error *ngIf="formContractorPayment.get('paymentcant').hasError('required')">
                        El Campo cedula es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <br>
            <div class="nationality">
                <mat-form-field (click)="pickerContrato.open()" class="hiring" appearance="outline">
                    <mat-label>Fecha a pagar</mat-label>
                    <input matInput id="fechaContrato" autocomplete="off" formControlName="monthPayment"
                        [matDatepicker]="pickerContrato">
                    <mat-datepicker #pickerContrato></mat-datepicker>
                    <mat-datepicker-toggle matSuffix [for]="pickerContrato"></mat-datepicker-toggle>
                    <mat-error *ngIf="formContractorPayment.get('monthPayment').hasError('required')">
                        Este Campo es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="hiring" appearance="outline">
                    <mat-label>Entidad bancaria</mat-label>
                    <mat-select [formControlName]="'cashPayment'" name="cashPayment">
                        <mat-option *ngFor="let pago of pagos" [value]="pago.viewValue">
                            {{pago.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:cash'">
                    </mat-icon>
                    <mat-error *ngIf="formContractorPayment.get('cashPayment').hasError('required')">
                        El Campo pago requerido
                    </mat-error>
                </mat-form-field>
            </div>

        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-stroked-button type="button" [mat-dialog-close]="true" class="text-warn-500">Cancelar</button>
        <button mat-flat-button [color]="'primary'" type="submit" [mat-dialog-close]="true"
            [disabled]="formContractorPayment.disabled" *ngIf="!formContractorPayment.disabled"
            (click)="addContractor()">Aceptar</button>
    </mat-dialog-actions>
</div>