.inputsearch{
    padding-left: 70px;
    
}
.hiring{
    margin-left: 30px !important;
}
.search{
    width: 350px !important;
}
    // .mat-form-field {
    //   font-size: 14px;
    //   width: 30%;
    //   margin-left: 30px;
    // }
  
    .mat-column-name,.mat-column-priority,.mat-column-item,.mat-column-imageUrl,.mat-column-id,.mat-column-Group,.mat-column-availableQty,.mat-column-finishedQty,.mat-column-salesOrder,.mat-column-operationsGroupId,.mat-column-requiredQty,.mat-column-prodOrder {
      text-align: center !important;
    }
   
