<div class="flex-col max-w-220 md:min-w-140 -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Asignación de contratos</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <mat-dialog-content style="margin: 0px; padding: 0px;">

        <!-- <h1>Nombre Contratista</h1> -->
        <div class="folderAsigment">
            <mat-form-field class="hiringAsigment" appearance="fill">
                <mat-label>Contratos</mat-label>
                <mat-select (selectionChange)="selectionChageContract($event)" name="raffles">
                    <mat-option *ngFor="let contract of contracts" [value]="contract.id">
                        {{contract.projectName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div div
            class="mt-1.5 rounded-md border h-150 border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden m-10">
            <!-- Header -->
            <div class="flex items-center -my-px py-2 px-3 bg-gray-200">
                <div class="flex items-center flex-auto min-w-0">
                    <span>Asignar Contractual</span>
                </div>
            </div>
            <!-- Available tags -->
            <div class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                <!-- Tags -->
                <mat-radio-group [color]="'primary'" [disabled]="false">
                    <ng-container class="ctn border" *ngFor="let user of users;">
                        <ng-container>
                            <div class="box">
                                <mat-radio-button [matTooltip]="Contractuales"
                                    class="flex items-center h-10 min-h-10 pt-2 px-6 mr-6 colorGreen"
                                    [color]="'primary'" [disabled]="user.asign == 'Second Contractual'"
                                    (change)="assignmentUserselectedPrincipal($event,user)"
                                    [value]="user.id">principal</mat-radio-button>

                            </div>
                            <div class="box">
                                <mat-checkbox class="flex items-center h-10 min-h-10 px-6 mr-6 colorBlue" [value]="user.id"
                                    (change)="assignmentUserselectedSecond($event,user)" [color]="'primary'"
                                    [disabled]="user.asign === 'Principal Contractual'">
                                    Apoyo
                                </mat-checkbox>
                            </div>

                            <span
                                class="flex items-center h-5 min-h-5 px-10 mr-2 border-bottom border-dark">{{user.userName}}</span>
                        </ng-container>
                    </ng-container>
                </mat-radio-group>
                <!-- Tags editing -->

            </div>
        </div>
        <!-- <div *ngIf="showContractual && showUsers" class="checkBox">
            <span>Contractual encargado</span>
            <div class="checkBox">
                <mat-radio-group   *ngFor="let user of users" [color]="'primary'" [disabled]="false">
                    <mat-radio-button [matTooltip]="usualrios" class="mr-4"
                        (change)="assignmentUserselectedPrincipal(user)"
                        [value]="user.id">{{user.userName}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div *ngIf="showContractual && showUsers" class="checkBox">
            <span>Contractual apoyo</span>
            <div class="checkBox">
                <mat-checkbox *ngFor="let user of users" [value]="user.id" (change)="assignmentUserselectedSecond(user)"
                    [color]="'primary'">
                    {{user.userName}}
                </mat-checkbox>
            </div>
        </div> -->
        <div div class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden m-10">
            <!-- Header -->
            <div class="flex items-center -my-px py-2 px-3 bg-gray-200">
                <div class="flex items-center flex-auto min-w-0">
                    <span>Asignar Juridico</span>
                </div>
            </div>
            <!-- Available tags -->
            <div class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                <!-- Tags -->
                <mat-radio-group [color]="'primary'" [disabled]="false">
                    <ng-container *ngFor="let juridic of juridics">
                        <ng-container>
                            <mat-radio-button [matTooltip]="usualrios" class="flex items-center h-10 min-h-10 px-4"
                                [color]="'primary'" [disabled]="juridic.asign == 'Second Juridic'"
                                (change)="assignmentJuridicselectedPrincipal(juridic)"
                                [value]="juridic.id">Principal</mat-radio-button>
                            <span class="flex items-center h-10 min-h-10 px-10 mr-2">{{juridic.userName}}</span>
                            <mat-checkbox class="flex items-center h-10 min-h-10 px-4" [value]="juridic.id"
                                (change)="assignmentJuridicSelectedSecond(juridic)" [color]="'primary'"
                                [disabled]="juridic.asign == 'Principal Juridic'">
                                Apoyo
                            </mat-checkbox>
                        </ng-container>
                    </ng-container>
                </mat-radio-group>

                <!-- Tags editing -->

            </div>
        </div>
        <!-- <div *ngIf="showContractual && showUsers" class="checkBox">
            <span>Juridico encargado</span>
            <div class="checkBox">
                <mat-radio-group [color]="'primary'" [disabled]="false">
                    <mat-radio-button *ngFor="let juridic of juridics" [matTooltip]="Juridicos" class="mr-4"
                        (change)="assignmentJuridicselectedPrincipal(juridic)"
                        [value]="juridic.id">{{juridic.userName}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div *ngIf="showContractual && showUsers" class="checkBox">
            <span>Juridico apoyo</span>
            <div class="checkBox">
                <mat-checkbox *ngFor="let juridic of juridics" [value]="juridic.id"
                    (change)="assignmentUserselectedSecond(juridic)" [color]="'primary'">
                    {{juridic.userName}}
                </mat-checkbox>
            </div>
        </div> -->
        <div div class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden m-10">
            <!-- Header -->
            <div class="flex items-center -my-px py-2 px-3 bg-gray-200">
                <div class="flex items-center flex-auto min-w-0">
                    <span>Asignar Supervisor</span>
                </div>
            </div>
            <!-- Available tags -->
            <div class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                <!-- Tags -->
                <ng-container>
                    <ng-container *ngFor="let user of supervisors">
                        <mat-radio-button [matTooltip]="Supervisores" class="flex items-center h-10 min-h-10 px-4"
                            (change)="onChangeAdmin(user)" [color]="'primary'"
                            [value]="user.id">{{user.userName}}</mat-radio-button>
                    </ng-container>
                </ng-container>
                <!-- Tags editing -->

            </div>
        </div>
        <!-- <div *ngIf="showSupervisors && showUsers" class="checkBox">
            <span>Supervisor contrato</span>
            <div class="checkBox">
                <mat-radio-group [color]="'primary'" [disabled]="false">
                    <mat-radio-button *ngFor="let user of supervisors" [matTooltip]="Supervisores" class="mr-4"
                        (change)="onChangeAdmin(user)" [value]="user.id">{{user.userName}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div> -->
    </mat-dialog-content>
    <mat-dialog-actions class="action" align="end">
        <button mat-flat-button color="warn" type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-flat-button [color]="'primary'" type="submit" class="mr-3"
            (click)="addAssignmentUsers()">Asignar</button>
    </mat-dialog-actions>
</div>
