.drop {
    display: inline-block;
    margin: 0 5px;
    //background-color: black;
}

.hiringAsigment {
    width: 250px;
    margin: 5px;
}

.checkBox {
    text-align: center;
    margin-left: 20px;
}

.folderAsigment {
    text-align: center;
}