.drop {
    display: inline-block;
    margin: 0 5px;
    //background-color: black;
}

.hiringAsigment {
    width: 250px;
    margin: 5px;
}

.checkBox {
    text-align: center;
    margin-left: 20px;
}

.folderAsigment {
    text-align: center;
}

.colorGreen{
    margin: 5px;
    color: green;
}
.colorBlue{
    margin: 5px;
    color: blue !important;
}
.ctn{
    border: 1px solid currentColor !important;
    border-radius: 8px;
}
.container {
    text-align: center; /* Alinea los divs dentro del contenedor */
}

.box {
    display: inline-block; /* Hace que los divs se comporten como elementos en línea */
}
