<div class="flex-col max-w-220 md:min-w-120 -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Rgistro pago seguridad social</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <mat-dialog-content style="margin: 0px; padding: 0px;">
        <form [formGroup]="formContractorPaymentSecurity" class="example-form overflow-y-auto">
            <div class="folder">
                <mat-form-field  class="hiringSecurity" appearance="fill">
                    <mat-label>Entidad SALUD</mat-label>
                    <input  id="contractorName"   [formControlName]="'eps'" matInput>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                </mat-form-field>
                <mat-form-field  class="hiringSecurity" appearance="fill">
                    <mat-label>Entidad PENSIÓN</mat-label>
                    <input   id="contractorName" [formControlName]="'afp'" matInput>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                </mat-form-field>
                <mat-form-field  class="hiringSecurity" appearance="fill">
                    <mat-label>Entidad ARL</mat-label>
                    <input  id="contractorName" [formControlName]="'arl'" matInput>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                </mat-form-field>
            </div>
            <div class="folder" >
                <mat-form-field class="hiringSecurity" appearance="fill">
                    <mat-label>Valor Pagado de SALUD</mat-label>
                    <input type="text" id="compromiso" (change)="calculateEps()" 
                        formControlName="paymenteps" autocomplete="off" matInput placeholder="Valor Pagado de SALUD">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    <mat-error *ngIf="formContractorPaymentSecurity.get('paymenteps').hasError('required')">
                        El Campo SALUD es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="hiringSecurity" appearance="fill">
                    <mat-label>Valor Pagado de PENSIÓN</mat-label>
                    <input type="text" id="compromiso" (change)="calculateafp()" 
                        formControlName="Paymentafp" autocomplete="off" matInput placeholder="Valor Pagado de PENSIÓN">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    <mat-error *ngIf="formContractorPaymentSecurity.get('Paymentafp').hasError('required')">
                        El Campo PENSIÓN es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="hiringSecurity" appearance="fill">
                    <mat-label>Valor Pagado de ARL</mat-label>
                    <input type="text" id="paymentArl" (change)="calculateArl()" 
                        formControlName="paymentArl" autocomplete="off" matInput placeholder="Valor Pagado de ARL">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    <mat-error *ngIf="formContractorPaymentSecurity.get('paymentArl').hasError('required')">
                        El Campo ARL es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="folder">
                <mat-form-field (click)="pickerIR.open()" class="hiringSecurity" appearance="fill">
                    <mat-label for="paymentPeriodDate">Periodo depago fecha planilla</mat-label>
                    <input matInput id="paymentPeriodDate" autocomplete="off"
                         formControlName="paymentPeriodDate"
                        [matDatepicker]="pickerIR">
                    <mat-datepicker #pickerIR></mat-datepicker>
                    <mat-datepicker-toggle matSuffix [for]="pickerIR"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-form-field class="hiringSecurity" appearance="fill">
                    <mat-label>Número Planilla</mat-label>
                    <input type="text" id="payrollNumber" 
                        formControlName="payrollNumber" autocomplete="off" matInput placeholder="Número Planilla">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    <mat-error *ngIf="formContractorPaymentSecurity.get('payrollNumber').hasError('required')">
                        El Campo payrollNumber es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="hiringSecurity" appearance="fill">
                    <mat-label>Ingreso Base de Cotización (IBC)</mat-label>
                    <input type="text" id="ibc"
                        formControlName="ibc" autocomplete="off" matInput placeholder="Ingreso Base de Cotización">
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    <mat-error *ngIf="formContractorPaymentSecurity.get('ibc').hasError('required')">
                        El Campo ARL es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="checkbox-list" *ngIf="filesWithCheckbox.length > 0">
                <span>Documentos seleccionados</span>

                <mat-checkbox [disabled]="true" [checked]="true" *ngFor="let file of filesWithCheckbox" class="mr-4"
                    [value]="file.name" [color]="'primary'">
                    {{file.name}}
                </mat-checkbox>
            </div>

            <div class="folder">
                <input type="file" (change)="onFileSelected($event)" >
            </div>
            <br>
            <div class="folder" >
                <mat-form-field class="security" appearance="fill">
                    <textarea type="text" class="example-full-width" id="observation" formControlName="observation"
                        autocomplete="off" matInput placeholder="Observaciones"></textarea>
                    <mat-error *ngIf="formContractorPaymentSecurity.get('observation').hasError('required')">
                        El Campo Descripcion es requerido
                    </mat-error>
                </mat-form-field>
            </div>

        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="action" align="end">
        <button mat-flat-button color="warn" type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-flat-button [color]="'primary'" type="submit" [disabled]="formContractorPaymentSecurity.disabled"
            *ngIf="!formContractorPaymentSecurity.disabled" (click)="addPaymentSecurity()">Guardar</button>
    </mat-dialog-actions>
</div>