.inputsearch{
    padding-left: 90px;
    
}
.hiring{
    margin-left: 30px !important;
}

td.mat-cell, th.mat-header-cell {
  /* row border */
  text-align: center;
  border-bottom: 1px solid #1a1917;
  justify-content:center;
  
}

table {
  width: 100%;
  text-align: center !important;
}

.mat-sort-header-container{
  justify-content: center;
}

.mat-header-cell {
  text-align: center !important;
}
table {
  text-align: center !important;
  /* row spacing / margin */
  border-spacing: 0 8px !important;
}  