<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Novedad Archivos Cargados</div>
        <button mat-icon-button (click)="cerrar()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- <p style="text-align: center; font-size: medium; text-decoration-style: dotted; text-decoration-color: black;">Cargar Archivo</p> -->
    <div class="modal-body pt-6">
        <div class="option">
            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4 text-red-500" *ngIf="showAlert" [appearance]="'fill'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
        </div>
        <mat-dialog-content style="margin: 0px; padding: 0px;">
            <form [formGroup]="observationForm" class="example-form">
                <div class="observatationFolder">
                    <mat-form-field class="fieldObservation" appearance="outline">
                        <mat-label>Motivo rechazo</mat-label>
                        <input type="text" placeholder="Seleccione o Digite" aria-label="Motivo Rechazo" matInput
                            [formControlName]="'motivo'" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" checked="true">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="observationForm.get('motivo').hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="checkbox-list">
                    <span>Documentos seleccionados</span>
                    <mat-checkbox [disabled]="true" [checked]="true" *ngFor="let file of observationfile" class="mr-4"
                        [value]="file.id" [color]="'primary'">
                        {{file.documentTypes}}
                    </mat-checkbox>
                </div>
                <div class="observatationFolder">
                    <mat-form-field (click)="pickerTo.open()" class="hiringTerm" appearance="fill">
                        <mat-label>Fecha Limite Entrega Documentos</mat-label>
                        <input matInput [min]="registerDate" id="dateTo" autocomplete="off" formControlName="termDate"
                            [matDatepicker]="pickerTo">
                        <mat-datepicker #pickerTo></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    </mat-form-field>
                </div>
                <quill-editor class="mt-1 p-0" formControlName="observation" [placeholder]="'Escriba su observación'"
                    [modules]="quillModules">
                </quill-editor>

                <div>

                </div>
                <mat-dialog-actions align="end" class="pt-8">
                    <button mat-flat-button type="button" [mat-dialog-close]="false" [color]="'warn'">
                        Cancelar
                    </button>
                        <button mat-flat-button [color]="'primary'" [disabled]="!permission || observationForm.disabled"
                        (click)="mostrarSweetAlert()"> <span>Enviar</span>
                        <mat-progress-spinner *ngIf="observationForm.disabled" [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner></button>
                </mat-dialog-actions>
            </form>
        </mat-dialog-content>

    </div>

</div>
