<<<<<<< HEAD
// .header{
//     background-image: url("../../../assets/images/logo/test.jpg");
//     width: 700px;
//     height:  200px;
//     display: flex;
//     background-repeat: no-repeat;
//     margin-left: 280px;
// }
=======
.header{
    background-image: url("../../../assets/images/logo/test.jpg");
    width: 700px;
    height:  200px;
    display: flex;
    background-repeat: no-repeat;
    margin-left: 280px;
}
>>>>>>> f6a38ff986797aa7d347dca4c583f7718bb98b3f

table tr td {
    border: 1px solid;
}

.table {
    width: 700px;
    text-align: center;
    margin-left: 280px;
}