// .header{
//     background-image: url("../../../assets/images/logo/test.jpg");
//     width: 700px;
//     height:  200px;
//     display: flex;
//     background-repeat: no-repeat;
//     margin-left: 280px;
// }

table tr td {
    border: 1px solid;
}

.table {
    width: 700px;
    text-align: center;
    margin-left: 280px;
}